<!DOCTYPE html>
<html lang="ko">

<head th:fragment="config">
<!--<head th:fragment="config">-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 오픈그라프 -->
    <meta name="description" content="누구나 요리를 즐길 수 있는 그 날까지 함께 요리해요 ^_^">
    <meta property="og:type" content="website">
    <meta  property="og:title" content="누구나 요리를 즐길 수 있는 그 날까지 함께 요리해요 ^_^">
    <meta property="og:url" content="https://dot386@dot386.dothome.co.kr/html/test/index.html">
    <meta property="og:image" content="/pub/images/og_image.jpg">
    <meta property="og:description" content="새미네부엌">

    <title>새미네부엌</title>
    <!-- css common -->
    <link rel="icon" href="/images/common/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/images/common/apple-touch-icon.png">
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/aos.css">
    <!-- css -->
    <link rel="stylesheet" href="/css/main.css">


<!--    <link rel="stylesheet" href="/css/mypage/commentList.css" />-->

    <!-- js common -->
    <script src="/js/swiper-bundle.min.js"></script>
    <script src="/js/aos.js"></script>
    <!-- js -->
    <script src="/js/event.js"></script>
    <script src="/js/recipe.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/ui-common.js"></script>
</head>
