<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer id="footer" th:fragment="footer">
    <div class="inner">
        <div class="ft_left">
            <ul class="menu">
                <li><a href="#">이용약관</a></li>
                <li><a href="#">개인정보처리방침</a></li>
                <li><a href="#">이용 가이드</a></li>
                <li><a href="#">ABOUT US</a></li>
            </ul>
            <div class="address_area">
                <button class="toggle_btn">샘표식품(주)<span></span>사업자정보</button>
                <div class="address_wrap">
                    <p class="address">
                        대표이사: 박진선 <br>
                        사업자 번호: 446-87-00473 <br>
                        주소 : 서울특별시 중구 충무로2 (우편번호 : 04557) <br>
                    </p>
                </div>
            </div>
            <p class="copyright">Copyright © 샘표식품, All Rights Reserved.</p>
        </div>
        <div class="ft_right">
            <div class="ft_sns">
                <div class="award">
                    <img src="/images/logo_award.png" alt="웹어워드">
                </div>
                <div class="sns">
                    <a class="insta" href="#" target="_blank" title="새창열림">
                        <img src="/images/common/ic_insta.png">
                    </a>
                    <a class="kakao" href="#" target="_blank" title="새창열림">
                        <img src="/images/common/ic_kakao.png">
                    </a>
                </div>
                <div class="sitemap">
                    <button type="button" class="sitemap_btn">관련사이트</button>
                    <div class="siteList">
                        <ul>
                            <li><a href="#" target="_blank" title="새창 열림">샘표 기업</a></li>
                            <li><a href="#" target="_blank" title="새창 열림">새미네부엌 플랫폼</a></li>
                            <li><a href="#" target="_blank" title="새창 열림">티·아시아</a></li>
                            <li><a href="#" target="_blank" title="새창 열림">새미네부엌</a></li>
                            <li><a href="#" target="_blank" title="새창 열림">폰타나</a></li>
                            <li><a href="#" target="_blank" title="새창 열림">샘표 채용</a></li>
                            <li><a href="#" target="_blank" title="새창 열림">샘표 통합회원 웹사이트</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="top_wrap">
                <a href="#" class="top_btn"><span class="blind">위로 이동</span></a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>