<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header id="header" th:fragment="header">
    <div class="inner">
        <h1 class="logo">
            <a href="/">
                <img src="/images/common/logo.svg" alt="세미네부엌">
                <span class="blind">세미네부엌</span>
            </a>
        </h1>
        <nav class="gnb_wrap">
            <ul class="gnb">
                <li class="gnb_star">
                    <a href="/guide/list">요리초보가이드</a>
                </li>
                <li class="gnb_star">
                    <a href="/recipeLab/list">요리연구소</a>
                    <ul class="depth2">
                        <li><a href="/recipeLab/list">레시피</a></li>
                        <li><a href="/recipeLab/solution">솔루션</a></li>
                    </ul>
                </li>
                <li class="gnb_star">
                    <a href="/cook/list">요리해요</a>
                    <ul class="depth2">
                        <li><a href="/cook/list">요리해요</a></li>
                        <li><a href="/cooking/counseling">고민있어요</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/event/list">WOW이벤트</a>
                </li>
            </ul>
        </nav>
            <div class="btn_wrap">

                <div th:if="${session.get('user') != null}" id="header-logged-in">
                    <a class="login_btn" href="/member/logout">로그아웃</a>
                    <a class="search_btn" href="/search"><img src="/images/common/ic_search.png" alt="검색"></a>
                    <a class="search_btn" href="/mypage/mypageProfile"><img src="/images/common/ic_mypage.png" alt="마이페이지"></a>
                    <div class="selectWrap">
                        <button type="button" class="">
                            글쓰기 <i></i>
                        </button>
                        <ul class="option" style="display: none">
                            <li onclick="javascript:location.href='/cooking/write'">
                                <img src="/images/common/ic_photo.png" alt="요리해요">
                                <a href="javascript:void(0)">
                                    <p>
                                        요리해요
                                        <i></i>
                                    </p>
                                    <span>나만의 요리를 올려주세요!</span>
                                </a>
                            </li>
                            <li onclick="javascript:location.href='/counseling/write'">
                                <img src="/images/common/ic_talk.png" alt="고민있어요">
                                <a href="javascript:void(0)">
                                    <p>
                                        고민있어요
                                        <i></i>
                                    </p>
                                    <span>요리에 대한 모든 고민을 남기고 해결해보아요.</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div th:if="${session.get('user') == null}" id="header-logged-out">
                    <a class="login_btn" href="/member/login">로그인</a>
                    <a class="search_btn" href="/search"><img src="/images/common/ic_search.png" alt="검색"></a>
                </div>



            </div>

            <button type="button" class="sitemap_btn">
                <span class="blind">사이트맵 열기</span>
                <i></i>
                <i></i>
                <i></i>
            </button>
        </div>
    </div>
    <aside class="menu_wrap">
        <div class="menu_inner">
            <div class="login_wrap">
                <a href="index.html">로그인을 해주세요</a>
            </div>
            <ul class="menu">
                <li>
                    <a href="/guide/list">요리초보가이드</a>
                </li>
                <li>
                    <a href="#" class="menu_ic">요리연구소</a>
                    <ul class="depth2">
                        <li><a href="/recipeLab/list">레시피</a></li>
                        <li><a href="/recipeLab/counseling">솔루션</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="menu_ic">요리해요</a>
                    <ul class="depth2">
                        <li><a href="/recipeLab/cooking">요리해요</a></li>
                        <li><a href="/recipeLab/counseling">고민있어요</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/event/list" class="menu_ic">WOW이벤트</a>
                </li>
            </ul>
        </div>
    </aside>
</header>
</body>
</html>