<!DOCTYPE html>
<!--<link rel="stylesheet" href="/css/admin/guide.css" />-->

<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      layout:fragment="content">

<head layout:fragment="config">
  <title>Admin</title>
  <link rel="stylesheet" href="/css/admin/guide.css">
</head>
<main>
    <div id="container">
      <div id="wrap" data-menu="4">
        <div id="mypage">
          <div class="mypage-cont">
            <div class="mypage-tab">
              <ul>
                <li class="on">
                  <a href="/admin/guide">
                    <span>요리초보가이드</span>
                  </a>
                </li>
                <li class="">
                  <a href="/admin/recipe">
                    <span>요리연구소-레시피</span>
                  </a>
                </li>
                <li class="">
                  <a href="/admin/solution">
                    <span>요리연구소-솔루션</span>
                  </a>
                </li>
                <li>
                  <a href="/admin/cooking">
                    <span>요리해요-요리해요</span>
                  </a>
                </li>
                <li>
                  <a href="/admin/counseling">
                    <span>요리해요-고민있어요</span>
                  </a>
                </li>
                <li>
                  <a href="/admin/wow">
                    <span>이벤트</span>
                  </a>
                </li>
                <li>
                  <a href="/admin/user">
                    <span>회원관리</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</main>

</html>
