<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}"
      layout:fragment="content">

<head layout:fragment="config">
    <title>Event</title>
    <link rel="stylesheet" href="/css/event/event.css">
</head>
<body>
    <main style="margin: 200px" class="main_event">
        <form action="/event/edit/" method="post">
            <em>제목 : <input name="event_name" type="text" th:value="${event.event_name}"/></em>
            <p class="img">메인 포스터 : <input type="file" name="main_poster" /></p>
            <p class="img">포스터 : <input type="file" name="poster" /></p>
            <textarea name="desc_detail" id="eventEditor" data-editor ></textarea>
            <p class="date">이벤트 시작일 :<input name="event_start" type="date" /></p>
            <p class="date">이벤트 종료일 :<input name="event_end" type="date" /></p>
            <button type="submit">submit</button>
        </form>
    </main>
</body>
</html>