<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      layout:fragment="content">

<head layout:fragment="config">
    <title>Event</title>
    <link rel="stylesheet" href="/css/event/event.css">
</head>
<body>
    <main style="margin: 200px" class="main_event">
        <form action="/event/edit" method="post" enctype="multipart/form-data">
            <input type="hidden" name="event_id" th:value="${event.event_id}">
            <fieldset>
                <legend></legend>
                <div>
                    <label>제목</label>
                    <input name="event_name" type="text" th:value="${event.event_name}"/>
                </div>
                <div>
                    <label>메인 포스터</label>
                    <input type="file" name="file_main_poster"  th:value="${event.main_poster}" multiple />
                </div>
                <div>
                    <label>포스터</label>
                    <input type="file" name="file_poster" th:value="${event.poster}" multiple />

                </div>
                <textarea name="desc_detail" id="eventEditor" th:attr="data-editor=${#strings.defaultString(event.desc_detail, ' ')}" th:utext="${event.desc_detail}"></textarea>
                <div>
                    <label>이벤트 시작일</label>
                    <input name="event_start" type="date" th:value="${event.event_start}"/>
                </div>
                <div>
                    <label>이벤트 종료일</label>
                    <input name="event_end" type="date" th:value="${event.event_end}"/>
                </div>
                <button type="submit">submit</button>
            </fieldset>
        </form>
    </main>
</body>
</html>