<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head layout:fragment="config">
    <title>Event</title>
    <link rel="stylesheet" href="/css/event/event.css">
    <link rel="stylesheet" href="/css/recipeLab/archive_rep.css">
    <script src="/js/event.js"></script>
    <script>
        function confirmDelete() {
            return confirm('정말로 삭제하시겠습니까?');
        }
    </script>
</head>
<body>
<main id="container_event" class="container" layout:fragment="content">
    <section class="event_archive">
        <div th:replace="~{fragments :: scroll}"></div>
        <div class="inner">
            <div class="title">
                <div class="label_list">
                    <p class="event">이벤트</p>
                    <p class="event_date">
                        <span th:data-start="${event.event_start}" th:data-end="${event.event_end}"></span>
                    </p>
                </div>
                <h2 th:utext="${event.event_name}"></h2>
                <p class="date">
                    <span th:utext="${event.event_start}"></span>
                    ~
                    <span th:utext="${event.event_end}"></span>
                </p>
                <!-- admin으로 로그인 시 수정 가능 -->
                <a th:href="@{'/event/edit/' + ${event.event_id}}"
                   th:if="${session.user != null and session.user.getMember_id() == 1}">수정하기</a>
                <!-- admin으로 로그인 시 삭제 가능 -->
                <a th:href="@{'/event/delete/' + ${event.event_id}}" onclick="return confirmDelete();"
                   th:if="${session.user != null and session.user.getMember_id() == 1}">삭제하기</a>
            </div>
            <div class="img">
                <img th:src="@{/event/uploads/{fileName}(fileName=${event.poster})}" alt="이미지" />
            </div>
            <div class="page">
                <div class="event_view">
                    <div th:utext="${event.desc_detail}"></div>
                    <div class="event_notice">
                        <h4 class="event_notice_title">주의사항</h4>
                        <ul class="event_notice_content">
                            <li>본 이벤트는 새미네부엌 플랫폼(www.semie.cooking)에서만 참여가 가능하며, 단계별 참여 방법에 맞게 진행 하셔야 정상 참여로 간주됩니다.</li>
                            <li>업로드 게시물 수 제한은 없으나 중복 당첨은 불가합니다.</li>
                            <li>이벤트 기간 내 참여 및 당첨자 선정 기간까지 삭제되지 않은 전체 공개 게시물에 한해 당첨이 가능하며, 기간 내 참여한 아이디가 변동되거나 삭제될 경우, 당첨자 선정에서 누락될 수 있습니다.</li>
                            <li>참여 방법 및 필수 해시태그 등 이벤트 참여 방법을 준수한 게시물에 한하여 당첨자가 선정됩니다.</li>
                            <li>참여 방법에 맞지 않는 게시물 참여, 비정상적이고 불법적인 방법으로 진행된 참여는 당첨에서 제외됩니다.</li>
                            <li>5만원 이상의 경품에 대해서는 제세공과금이 발생하며, 당첨자 부담입니다.</li>
                            <li>제세공과금(22%)은 당첨자 발표 이후 대상자에게 제세공과금 납입을 위한 안내가 진행될 예정이며 기간 내 제세공과금 미납부 시 당첨이 자동 취소됩니다.</li>
                            <li>당첨 발표는 이벤트가 종료된 이후, 본 이벤트 페이지를 통해 발표될 예정이며, 당첨자에 한해 이벤트 신청 시 접수한 경품 배송지 혹은 회원 개인정보를 통해 경품이 배송될 예정입니다.</li>
                            <li>잘못된 개인정보 입력으로 인해 당첨자에게 연락이 불가능하거나, 당첨 경품이 미수신 되는 경우, 제품이 반송/분실될 경우, 재발송 되지 않으며 당사에서 책임지지 않습니다.</li>
                            <li>이벤트 당첨 안내는 본 이벤트 페이지 안내 외, 별도 LMS 등 안내없이 진행될 수 있으며, 당첨자 발표 및 경품 발송 일정도 확인하여 이벤트 신청 부탁드립니다.</li>
                            <li>당첨 시 경품은 환불, 현금 지급되지 않으며, 타인에게 양도 및 드림, 판매가 불가능합니다.</li>
                            <li>부정한 방법 또는 비정상적인 접근을 통한 이벤트 응모의 경우 당첨이 취소될 수 있습니다.</li>
                            <li>이벤트 응모 게시물은 샘표 채널 내 마케팅 목적으로 사용될 수 있습니다.이벤트 진행 일정과 내용, 경품 등은 당사 사정에 의해 예고 없이 중단 또는 변경될 수 있으며, 발표일과 배송일정은 당사 사정에 의해 지연될 수 있습니다.&nbsp;&nbsp;</li>
                            <li>즐요클럽은 내부 기준에 의해 각 테마별 100명 , 총 400명이 선정될 예정이며 즐요클럽에 선정되었을 경우, 반드시 링크를 통한 즐요클럽팩 구매와 미션 참여를 이행하여야 합니다.</li>
                            <li>즐요클럽 선정 이후, 즐요클럽팩 구매가 일어나지 않거나 즐요클럽팩 구매 후, 미션참여를 하지 않은 경우 추후 이벤트 참여 등에 불이익이 있을 수 있으며 구매한 즐요클럽팩은 반환 및 비용 청구 등이 있을 수 있습니다.</li>
                        </ul>
                        <div class="event_notice_btn">
                            <button type="button" class="btn_arrow">더보기</button>
                        </div>
                    </div>
                    <div class="event_apply">
                        <!-- 로그인 전 -->
                        <div class="log">
                            <p class="log_p">이벤트 참여하기</p>
                            <p class="log_bf">
                                로그인 후에 이벤트 참여 가능합니다.<br>
                                <a href="#" class="log_a">로그인</a>하시겠어요?
                            </p>
                        </div>
                    </div>
                    <div class="step_tag_wrap" th:each="hash,state : ${event.hashnames}" th:if="${state.first}">
                        <a href="#" th:class="${state.first ? 's_tag' : ''}" th:each="ha,state : ${#strings.setSplit(event.hashnames,',')}" th:text="${ha}">낭만파티요리</a>
                    </div>
                </div>
            </div>
            <div class="m-mt">
                <a href="/event/list" class="m-btn">목록으로</a>
            </div>
        </div>
    </section>
</main>
</body>
</html>