<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      layout:fragment="content">

<head layout:fragment="config">
    <title>Event</title>
    <link rel="stylesheet" href="/css/event/event.css">
</head>
<body>
<main id="container_event" class="container">
    <section class="main_event">
        <div class="inner">
            <h2><img src="/images/il_txt.png" alt="">이벤트</h2>
            <div class="event_page">
                <div class="filter">
                    <button type="button" onclick="location.href='/event/write'" class="eventbt">글쓰기</button>
                    <ul>
                        <li class="li on"><a href="#">전체</a></li>
                        <li class="li"><a href="#">진행중</a></li>
                        <li class="li"><a href="#">종료</a></li>
                        <li><a href="#">당첨자발표</a></li>
                    </ul>
                </div>
                <ul class="event_wrap">
                    <li class="event_item" th:each="event : ${list}">
                        <a th:href="@{'/event/event_archive/' + ${event.event_id}}">
                            <div class="img_wrap">
                                <img th:src="@{/event/uploads/{fileName}(fileName=${event.main_poster})}" alt="메인이미지" />
                            </div>
                            <div class="txt_wrap">
                                <p class="tit" th:text="${event.event_name}"></p>
                                <p class="date">
                                    <span class="green">진행중</span>
                                    <span>
                                        <span th:utext="${event.event_start}"></span>
                                        ~
                                        <span th:utext="${event.event_end}"></span>
                                    </span>
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="board_pagination_wrap">
                <div class="board_pagination">
                <th:block th:utext="${paging}"></th:block>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>