<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      layout:fragment="content">

<head layout:fragment="config">
    <title>Event</title>
    <link rel="stylesheet" href="/css/event/event.css">
</head>
<body>
    <main style="margin: 200px" class="main_event">
        <form name="write" action="/event/write" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend></legend>
                <div>
                    <label>제목</label>
                    <input name="event_name" type="text"/>
                </div>
                <div>
                    <label>메인 포스터</label>
                    <input type="file" name="file_main_poster">
                </div>
                <div>
                    <label>포스터</label>
                    <input type="file" name="file_poster">
                </div>
                <textarea name="desc_detail" id="eventEditor" data-editor></textarea>
                <div>
                    <label>이벤트 시작일</label>
                    <input name="event_start" type="date"/>
                </div>
                <div>
                    <label>이벤트 종료일</label>
                    <input name="event_end" type="date"/>
                </div>
                <button type="submit">submit</button>
            </fieldset>
        </form>
    </main>
</body>
</html>