<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}"
      layout:fragment="content">

<head layout:fragment="config">
    <title>Event</title>
    <link rel="stylesheet" href="/css/event/event.css">
</head>
<body>
    <main style="margin-top: 200px">

        <form action="/event/write" method="post">
            <textarea name="desc_detail" id="eventEditor" data-editor></textarea>
            <button type="submit">submit</button>
        </form>
    </main>
</body>
</html>