<!DOCTYPE html>
<link rel="stylesheet" href="/css/mypage/writeList.css" />
<html lang="ko" xmlns:th="http://www.thymeleaf.org">



<th:block th:insert="~{/fragments :: header}"></th:block>

  <body>
    <div id="container">
      <div id="wrap" data-menu="4">
        <div id="mypage">
          <aside>
            <div class="profile">
              <div class="img">
                <img src="/image/profile.png" alt="" />
              </div>
              <div class="name text-point">박종윤</div>
              <div class="introduce">소개글이 없습니다.</div>
            </div>
            <div class="profile-btn">
              <a href="/logout">로그아웃</a>
              <a
                href="https://member.sempio.com/account/toInfo?uip=211.217.101.176"
                >회원정보 수정</a
              >
            </div>
          </aside>
          <div class="mypage-bg"></div>
          <div class="mypage-cont">
            <div class="mypage-tab">
              <ul>
                <li class="on">
                  <a href="/mypage/scrapList">
                    <span>스크랩한 글</span>
                  </a>
                </li>
                <li class="">
                  <a href="/mypage/writeList">
                    <span>내가 쓴 글</span>
                  </a>
                </li>
                <li class="">
                  <a href="/mypage/commentList">
                    <span>나의 댓글</span>
                  </a>
                </li>
                <li>
                  <a href="/mypage/eventList">
                    <span>이벤트 참여내역</span>
                  </a>
                </li>
                <li>
                  <a href="/profile">
                    <span>프로필 관리</span>
                  </a>
                </li>
              </ul>
            </div>

            <div class="my-list-wrap">
              <div class="non-list">
                <p>나만의 요리 레시피나 요리 고민을 나눠 보세요!</p>
                <div id="btn-box" class="center">
                  <a href="/cooking/write" class="btn_md">요리해요 작성하기</a>
                  <a href="/counseling/write" class="btn_md"
                    >고민있어요 작성하기</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <th:block th:insert="~{/fragments :: footer}"></th:block>

</html>
