<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}"
      layout:fragment="content">

<head>
    <meta charset="UTF-8">
    <title>RecipeLab</title>
    <link rel="stylesheet" href="/css/recipeLab/archive_write.css">
</head>
<body>
<main id="cooking_container" class="container">
    <div th:replace="~{/fragments :: scroll}"></div>
    </div>
    <section class="cook_write_wrap">
        <div class="write_title">
            <div class="inner">
                <h3>나만의 요리를 올려주세요!</h3>
                <p>
                    나만의 요리법, 재밌는 플레이팅, <br>요리 꿀팁 등 다양한 이야기를<br>
                    새미네부엌에서 함께 나눠 주세요!
                </p>
            </div>
        </div>
    </section>
    <section class="cook_write_cont">
        <div class="inner">
            <div class="write_txt_wrap">

            </div>
            <div class="from">
                <p class="label">제목</p>
                <input type="text" name="title" class="from_box" placeholder="제목을 입력해 주세요">
                <div class="warning">제목을 입력해주세요.</div>
            </div>
            <div class="form">
                <p class="label">작성방법</p>
                <div id="btn_box" class="detail_btn_box">
                    <button type="button" class="btn_check_lg on">
                        <i></i> 간단하게
                    </button>
                    <button type="button" class="btn_check_lg">
                        <i></i> 자세하게
                    </button>
                </div>
            </div>
            <div class="form">
                <p class="label">완성 이미지 (필수항목)</p>
                <div class="file">
                    <input type="text" class="form-control" placeholder="10MB 미만의 이미지를 업로드 해주세요" disabled="">
                    <input type="hidden" name="imagesArr">
                    <input type="file" id="formFile" name="images" required="" aria-required="true" accept="image/jpg,image/jpeg,image/gif,image/png" data-max-limit="10485760" aria-describedby="file-desc" data-url="/cooking/write/upload" class="a11y" style="display: none;">
                    <label for="formFile">파일첨부</label>
                </div>
                <ul class="file-list" id="done_img_list" style="display: none;">
                </ul>
            </div>
        </div>
    </section>
<!--            <div class="cook_img_wrap">-->
<!--                <img src="/images/arch_cook1.jpg" alt="">-->
<!--                <img src="/images/arch_cook2.jpg" alt="">-->
<!--            </div>-->
<!--            <div class="cook_tag_wrap">-->
<!--                <a href="#" class="c_tag">-->
<!--                    연말홈파티-->
<!--                </a>-->
<!--                <a href="#">-->
<!--                    낭만파티요리-->
<!--                </a>-->
<!--                <a href="#">-->
<!--                    연말홈파티-->
<!--                </a>-->
<!--                <a href="#">-->
<!--                    로스트치킨-->
<!--                </a>-->
<!--                <a href="#">-->
<!--                    연어파피요트-->
<!--                </a>-->
<!--                <a href="#">-->
<!--                    리스샐러드-->
<!--                </a>-->
<!--                <a href="#">-->
<!--                    어니언스프-->
<!--                </a>-->
<!--            </div>-->
<!--            <div class="c_comment_wrap">-->
<!--                <div class="total">-->
<!--                    <h4>댓글 </h4>-->
<!--                    <span>1</span>-->
<!--                </div>-->
<!--                <div class="com_login">-->
<!--                    <div class="profile">-->
<!--                        <img src="/images/common/profile.png" alt="">-->
<!--                    </div>-->
<!--                    <div class="loginFirst">-->
<!--                        <a href="#">로그인</a>-->
<!--                        하시고 댓글을 남겨보세요.-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="com_box">-->
<!--                    <div class="profile">-->
<!--                        <img src="/images/common/profile.png" alt="">-->
<!--                    </div>-->
<!--                    <div class="cmt">-->
<!--                        <div class="name">-->
<!--                            <p>yoon's table</p>-->
<!--                            <span class="date">2024-11-08 21:29</span>-->
<!--                        </div>-->
<!--                        <div class="text">-->
<!--                            우와...............플레이팅 실력 넘 부럽습니닷<br>-->
<!--                            너무너무 예쁘고 먹음직스러워요!! 치즈 플래터까지 짱이에요😍<br>-->
<!--                            리스 샐러드도 완전 아이디어네요!!!-->

<!--                            &lt;!&ndash; <form>-->
<!--                              <div class="txtArea">-->
<!--                                <textarea id="txtBox" name="content" placeholder="내용을 입력하세요.">단백질 가득 너무 맛나겠어요!</textarea>-->
<!--                              </div>-->
<!--                            </form> &ndash;&gt;-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="com_blank">-->
<!--                    <p>여러분의 댓글을 기다리고 있어요 :)</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--    <section class="cook_profile_wrap">-->
<!--        <div class="inner">-->
<!--            <div class="text">-->
<!--                <p><strong class="point">yoon's table</strong> 님</p>-->
<!--                <span>-->
<!--                    소개글이 없습니다.-->
<!--                </span>-->
<!--            </div>-->
<!--            <div class="profile">-->
<!--                <img src="/images/common/profile.png" alt="">-->
<!--            </div>-->

<!--        </div>-->
<!--    </section>-->
<!--    <section class="C_tagList">-->
<!--        <div class="inner">-->
<!--            &lt;!&ndash;            <div class="c_tit_wrap">&ndash;&gt;-->
<!--            &lt;!&ndash;                <h3 class="c_tit">&ndash;&gt;-->
<!--            &lt;!&ndash;                    <span class="point">&ndash;&gt;-->
<!--            &lt;!&ndash;                        yoon's table님&ndash;&gt;-->
<!--            &lt;!&ndash;                    </span>&ndash;&gt;-->
<!--            &lt;!&ndash;                    의 다른 글도 살펴보세요&ndash;&gt;-->
<!--            &lt;!&ndash;                </h3>&ndash;&gt;-->
<!--            &lt;!&ndash;                <div class="k_arrowbtn">&ndash;&gt;-->
<!--            &lt;!&ndash;                    <div class="swiper-button-prev"></div>&ndash;&gt;-->
<!--            &lt;!&ndash;                    <div class="swiper-button-next"></div>&ndash;&gt;-->
<!--            &lt;!&ndash;                </div>&ndash;&gt;-->
<!--            &lt;!&ndash;                <div class="swiper">&ndash;&gt;-->
<!--            &lt;!&ndash;                    <div class="swiper-wrapper">&ndash;&gt;-->
<!--            &lt;!&ndash;                        <div class="swiper-slide">&ndash;&gt;-->
<!--            &lt;!&ndash;                            <a href="#">&ndash;&gt;-->
<!--            &lt;!&ndash;                                <div class="img_wrap">&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <img src="/images/mainpage3.jpg" alt="">&ndash;&gt;-->
<!--            &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--            &lt;!&ndash;                                <div class="s_text_wrap">&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <h4>산뜻고소 참치마카로니샐러드</h4>&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <p>산뜻한 채소와 쫀득한 참치, 마카로니로 색다르게!</p>&ndash;&gt;-->
<!--            &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--            &lt;!&ndash;                                <ul class="s_time_wrap">&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <li>&ndash;&gt;-->
<!--            &lt;!&ndash;                                        <span>준비시간</span> 25분&ndash;&gt;-->
<!--            &lt;!&ndash;                                    </li>&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <li>&ndash;&gt;-->
<!--            &lt;!&ndash;                                        <span>조리시간</span> 5분&ndash;&gt;-->
<!--            &lt;!&ndash;                                    </li>&ndash;&gt;-->
<!--            &lt;!&ndash;                                </ul>&ndash;&gt;-->
<!--            &lt;!&ndash;                            </a>&ndash;&gt;-->
<!--            &lt;!&ndash;                            <div class="scrap">스크랩</div>&ndash;&gt;-->
<!--            &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--            &lt;!&ndash;                        <div class="swiper-slide">&ndash;&gt;-->
<!--            &lt;!&ndash;                            <a href="#">&ndash;&gt;-->
<!--            &lt;!&ndash;                                <div class="img_wrap">&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <img src="/images/mainpage4.jpg" alt="">&ndash;&gt;-->
<!--            &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--            &lt;!&ndash;                                <div class="s_text_wrap">&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <h4>산뜻고소 참치마카로니샐러드</h4>&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <p>산뜻한 채소와 쫀득한 참치, 마카로니로 색다르게!</p>&ndash;&gt;-->
<!--            &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--            &lt;!&ndash;                                <ul class="s_time_wrap">&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <li>&ndash;&gt;-->
<!--            &lt;!&ndash;                                        <span>준비시간</span> 25분&ndash;&gt;-->
<!--            &lt;!&ndash;                                    </li>&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <li>&ndash;&gt;-->
<!--            &lt;!&ndash;                                        <span>조리시간</span> 5분&ndash;&gt;-->
<!--            &lt;!&ndash;                                    </li>&ndash;&gt;-->
<!--            &lt;!&ndash;                                </ul>&ndash;&gt;-->
<!--            &lt;!&ndash;                            </a>&ndash;&gt;-->
<!--            &lt;!&ndash;                            <div class="scrap">스크랩</div>&ndash;&gt;-->
<!--            &lt;!&ndash;                            </a>&ndash;&gt;-->
<!--            &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--            &lt;!&ndash;                        <div class="swiper-slide">&ndash;&gt;-->
<!--            &lt;!&ndash;                            <a href="#">&ndash;&gt;-->
<!--            &lt;!&ndash;                                <div class="img_wrap">&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <img src="/images/mainpage3.jpg" alt="">&ndash;&gt;-->
<!--            &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--            &lt;!&ndash;                                <div class="s_text_wrap">&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <h4>산뜻고소 참치마카로니샐러드</h4>&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <p>산뜻한 채소와 쫀득한 참치, 마카로니로 색다르게!</p>&ndash;&gt;-->
<!--            &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--            &lt;!&ndash;                                <ul class="s_time_wrap">&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <li>&ndash;&gt;-->
<!--            &lt;!&ndash;                                        <span>준비시간</span> 25분&ndash;&gt;-->
<!--            &lt;!&ndash;                                    </li>&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <li>&ndash;&gt;-->
<!--            &lt;!&ndash;                                        <span>조리시간</span> 5분&ndash;&gt;-->
<!--            &lt;!&ndash;                                    </li>&ndash;&gt;-->
<!--            &lt;!&ndash;                                </ul>&ndash;&gt;-->
<!--            &lt;!&ndash;                            </a>&ndash;&gt;-->
<!--            &lt;!&ndash;                            <div class="scrap">스크랩</div>&ndash;&gt;-->
<!--            &lt;!&ndash;                            </a>&ndash;&gt;-->
<!--            &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--            &lt;!&ndash;                        <div class="swiper-slide">&ndash;&gt;-->
<!--            &lt;!&ndash;                            <a href="#">&ndash;&gt;-->
<!--            &lt;!&ndash;                                <div class="img_wrap">&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <img src="/images/mainpage4.jpg" alt="">&ndash;&gt;-->
<!--            &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--            &lt;!&ndash;                                <div class="s_text_wrap">&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <h4>산뜻고소 참치마카로니샐러드</h4>&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <p>산뜻한 채소와 쫀득한 참치, 마카로니로 색다르게!</p>&ndash;&gt;-->
<!--            &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--            &lt;!&ndash;                                <ul class="s_time_wrap">&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <li>&ndash;&gt;-->
<!--            &lt;!&ndash;                                        <span>준비시간</span> 25분&ndash;&gt;-->
<!--            &lt;!&ndash;                                    </li>&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <li>&ndash;&gt;-->
<!--            &lt;!&ndash;                                        <span>조리시간</span> 5분&ndash;&gt;-->
<!--            &lt;!&ndash;                                    </li>&ndash;&gt;-->
<!--            &lt;!&ndash;                                </ul>&ndash;&gt;-->
<!--            &lt;!&ndash;                            </a>&ndash;&gt;-->
<!--            &lt;!&ndash;                            <div class="scrap">스크랩</div>&ndash;&gt;-->
<!--            &lt;!&ndash;                            </a>&ndash;&gt;-->
<!--            &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--            &lt;!&ndash;                        <div class="swiper-slide">&ndash;&gt;-->
<!--            &lt;!&ndash;                            <a href="#">&ndash;&gt;-->
<!--            &lt;!&ndash;                                <div class="img_wrap">&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <img src="/images/mainpage3.jpg" alt="">&ndash;&gt;-->
<!--            &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--            &lt;!&ndash;                                <div class="s_text_wrap">&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <h4>산뜻고소 참치마카로니샐러드</h4>&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <p>산뜻한 채소와 쫀득한 참치, 마카로니로 색다르게!</p>&ndash;&gt;-->
<!--            &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--            &lt;!&ndash;                                <ul class="s_time_wrap">&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <li>&ndash;&gt;-->
<!--            &lt;!&ndash;                                        <span>준비시간</span> 25분&ndash;&gt;-->
<!--            &lt;!&ndash;                                    </li>&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <li>&ndash;&gt;-->
<!--            &lt;!&ndash;                                        <span>조리시간</span> 5분&ndash;&gt;-->
<!--            &lt;!&ndash;                                    </li>&ndash;&gt;-->
<!--            &lt;!&ndash;                                </ul>&ndash;&gt;-->
<!--            &lt;!&ndash;                            </a>&ndash;&gt;-->
<!--            &lt;!&ndash;                            <div class="scrap">스크랩</div>&ndash;&gt;-->
<!--            &lt;!&ndash;                            </a>&ndash;&gt;-->
<!--            &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--            &lt;!&ndash;                        <div class="swiper-slide">&ndash;&gt;-->
<!--            &lt;!&ndash;                            <a href="#">&ndash;&gt;-->
<!--            &lt;!&ndash;                                <div class="img_wrap">&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <img src="/images/mainpage4.jpg" alt="">&ndash;&gt;-->
<!--            &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--            &lt;!&ndash;                                <div class="s_text_wrap">&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <h4>산뜻고소 참치마카로니샐러드</h4>&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <p>산뜻한 채소와 쫀득한 참치, 마카로니로 색다르게!</p>&ndash;&gt;-->
<!--            &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--            &lt;!&ndash;                                <ul class="s_time_wrap">&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <li>&ndash;&gt;-->
<!--            &lt;!&ndash;                                        <span>준비시간</span> 25분&ndash;&gt;-->
<!--            &lt;!&ndash;                                    </li>&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <li>&ndash;&gt;-->
<!--            &lt;!&ndash;                                        <span>조리시간</span> 5분&ndash;&gt;-->
<!--            &lt;!&ndash;                                    </li>&ndash;&gt;-->
<!--            &lt;!&ndash;                                </ul>&ndash;&gt;-->
<!--            &lt;!&ndash;                            </a>&ndash;&gt;-->
<!--            &lt;!&ndash;                            <div class="scrap">스크랩</div>&ndash;&gt;-->
<!--            &lt;!&ndash;                            </a>&ndash;&gt;-->
<!--            &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--            &lt;!&ndash;                        <div class="swiper-slide">&ndash;&gt;-->
<!--            &lt;!&ndash;                            <a href="#">&ndash;&gt;-->
<!--            &lt;!&ndash;                                <div class="img_wrap">&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <img src="/images/mainpage3.jpg" alt="">&ndash;&gt;-->
<!--            &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--            &lt;!&ndash;                                <div class="s_text_wrap">&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <h4>산뜻고소 참치마카로니샐러드</h4>&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <p>산뜻한 채소와 쫀득한 참치, 마카로니로 색다르게!</p>&ndash;&gt;-->
<!--            &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--            &lt;!&ndash;                                <ul class="s_time_wrap">&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <li>&ndash;&gt;-->
<!--            &lt;!&ndash;                                        <span>준비시간</span> 25분&ndash;&gt;-->
<!--            &lt;!&ndash;                                    </li>&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <li>&ndash;&gt;-->
<!--            &lt;!&ndash;                                        <span>조리시간</span> 5분&ndash;&gt;-->
<!--            &lt;!&ndash;                                    </li>&ndash;&gt;-->
<!--            &lt;!&ndash;                                </ul>&ndash;&gt;-->
<!--            &lt;!&ndash;                            </a>&ndash;&gt;-->
<!--            &lt;!&ndash;                            <div class="scrap">스크랩</div>&ndash;&gt;-->
<!--            &lt;!&ndash;                            </a>&ndash;&gt;-->
<!--            &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--            &lt;!&ndash;                        <div class="swiper-slide">&ndash;&gt;-->
<!--            &lt;!&ndash;                            <a href="#">&ndash;&gt;-->
<!--            &lt;!&ndash;                                <div class="img_wrap">&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <img src="/images/mainpage4.jpg" alt="">&ndash;&gt;-->
<!--            &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--            &lt;!&ndash;                                <div class="s_text_wrap">&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <h4>산뜻고소 참치마카로니샐러드</h4>&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <p>산뜻한 채소와 쫀득한 참치, 마카로니로 색다르게!</p>&ndash;&gt;-->
<!--            &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--            &lt;!&ndash;                                <ul class="s_time_wrap">&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <li>&ndash;&gt;-->
<!--            &lt;!&ndash;                                        <span>준비시간</span> 25분&ndash;&gt;-->
<!--            &lt;!&ndash;                                    </li>&ndash;&gt;-->
<!--            &lt;!&ndash;                                    <li>&ndash;&gt;-->
<!--            &lt;!&ndash;                                        <span>조리시간</span> 5분&ndash;&gt;-->
<!--            &lt;!&ndash;                                    </li>&ndash;&gt;-->
<!--            &lt;!&ndash;                                </ul>&ndash;&gt;-->
<!--            &lt;!&ndash;                            </a>&ndash;&gt;-->
<!--            &lt;!&ndash;                            <div class="scrap">스크랩</div>&ndash;&gt;-->
<!--            &lt;!&ndash;                            </a>&ndash;&gt;-->
<!--            &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--            &lt;!&ndash;                    </div>&ndash;&gt;-->
<!--            &lt;!&ndash;                </div>&ndash;&gt;-->
<!--            &lt;!&ndash;            </div>&ndash;&gt;-->
<!--            <div th:replace="~{/fragments :: cook_tit}"></div>-->
<!--        </div>-->
<!--    </section>-->
<!--    <section class="back_wrap">-->
<!--        <div class="inner">-->
<!--            <div class="btn_box">-->
<!--                <a href="#" class="list_back">목록으로</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->

</main>
</body>
</html>