<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main id="container" class="container" layout:fragment="content">
    <section class="sub_view_wrap">
        <div class="view_title">
            <div class="inner">
                <span class="label">레시피</span>
                <h3>마라맛 에그인리얼헬</h3>
                <p class="date">2024.12.03 08:00</p>
            </div>
        </div>
    </section>
    <section class="sub_view_cont">
        <div class="inner">
            <div class="view_cont_title">
                <h4>진짜 지옥을 보여줄게!</h4>
                <p>마라맛 토마토소스에 달걀 퐁당!<br>색다른 맛으로 즐기는 에그인헬</p>
            </div>
            <div class="view_intro">
                <div class="editor">
                </div>
            </div>
            <div class="main_swiper_wrap">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/images/sub_img1.jpg" alt="에그인리얼헬"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="/images/sub_img2.jpg" alt="에그인리얼헬"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="/images/sub_img3.jpg" alt="에그인리얼헬"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="/images/sub_img4.jpg" alt="에그인리얼헬"/>
                    </div>
                </div>
            </div>
            <div class="thumb_swiper_wrap">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/images/sub_img1.jpg" alt="에그인리얼헬"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="/images/sub_img2.jpg" alt="에그인리얼헬"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="/images/sub_img3.jpg" alt="에그인리얼헬"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="/images/sub_img4.jpg" alt="에그인리얼헬"/>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
            <div class="recipe_intro">
                <div class="recipe_time">
                    <ul>
                        <li>
                            <p class="serv">인분 수</p>
                            <span>2인분</span>
                        </li>
                        <li>
                            <p class="prep">준비시간</p>
                            <span>10분</span>
                        </li>
                        <li>
                            <p class="cook">조리시간</p>
                            <span>5분</span>
                        </li>
                    </ul>
                </div>
                <div class="ingred_wrap">
                    <div class="ingred_inner">
                        <div class="ingred">
                            <div class="text_wrap">
                                <p class="ingred_h">주재료 </p>
                                <span>Main Ingredient</span>
                            </div>
                            <ul class="ingred_item">
                                <li>
                                    달걀 3개 (150g)
                                </li>
                                <li>
                                    포도씨유 2스푼 (20g)
                                </li>
                            </ul>
                        </div>
                        <div class="ingred">
                            <div class="text_wrap">
                                <p class="ingred_h">부재료 </p>
                                <span>Sub Ingredient</span>
                            </div>
                            <ul class="ingred_item">
                                <li>
                                    양파 1/2개 (100g)
                                </li>
                                <li>
                                    빨간 파프리카 1개 (100g)
                                </li>
                                <li>
                                    베이컨 2줄 (50g)
                                </li>
                                <li>
                                    마늘 5개 (20g)
                                </li>
                                <li>
                                    피자치즈 1봉 (60g)
                                </li>
                            </ul>
                        </div>
                        <div class="ingred">
                            <div class="text_wrap">
                                <p class="ingred_h">양념 </p>
                                <span>Seasoning</span>
                            </div>
                            <ul class="ingred_item">
                                <li>
                                    폰타나 나폴리 뽀모도로 토마토 파스타소스 1봉 (150g)
                                </li>
                                <li>
                                    차오차이 마라샹궈소스 1봉 (110g)
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sub_sw_wrap">
        <div class="inner">
            <div class="step_wrap">
                <div class="step_tit">
                    <h4>한 단계씩 따라해 보세요😄</h4>
                </div>
                <div class="step_head">
                    <div class="step-button-next"></div>
                    <span>Step.1</span>
                    <div class="step-button-prev"></div>
                </div>
                <div class="step_body">
                    <div class="step_swiper_wrap">
                        <div class="swiper-pagination"></div>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="/images/sub_img1.jpg"
                                     alt="에그인리얼헬"/>
                            </div>
                            <div class="swiper-slide">
                                <img src="/images/sub_img2.jpg"
                                     alt="에그인리얼헬"/>
                            </div>
                            <div class="swiper-slide">
                                <img src="/images/sub_img3.jpg"
                                     alt="에그인리얼헬"/>
                            </div>
                            <div class="swiper-slide">
                                <img src="/images/sub_img4.jpg"
                                     alt="에그인리얼헬"/>
                            </div>

                        </div>
                    </div>
                    <!-- <div class="step_swiper_wrap">
                      <div class="swiper-wrapper">

                        <div class="swiper-slide">
                          <img src="images/sub_img1.jpg" alt="에그인리얼헬"/>
                        </div>
                        <div class="swiper-slide">
                          <img src="images/sub_img2.jpg" alt="에그인리얼헬"/>
                        </div>
                        <div class="swiper-slide">
                          <img src="images/sub_img3.jpg" alt="에그인리얼헬"/>
                        </div>
                        <div class="swiper-slide">
                          <img src="images/sub_img4.jpg" alt="에그인리얼헬"/>
                        </div>

                      </div>
                    </div> -->
                    <div class="step2_swiper_wrap">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="/images/sub_img1.jpg"
                                     alt="에그인리얼헬"/>
                            </div>
                            <div class="swiper-slide">
                                <img src="/images/sub_img2.jpg"
                                     alt="에그인리얼헬"/>
                            </div>
                            <div class="swiper-slide">
                                <img src="/images/sub_img3.jpg"
                                     alt="에그인리얼헬"/>
                            </div>
                            <div class="swiper-slide">
                                <img src="/images/sub_img4.jpg"
                                     alt="에그인리얼헬"/>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="step2_swiper_wrap">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <img src="images/sub_img1.jpg" alt="에그인리얼헬"/>
                        </div>
                        <div class="swiper-slide">
                          <img src="images/sub_img2.jpg" alt="에그인리얼헬"/>
                        </div>
                        <div class="swiper-slide">
                          <img src="images/sub_img3.jpg" alt="에그인리얼헬"/>
                        </div>
                        <div class="swiper-slide">
                          <img src="images/sub_img4.jpg" alt="에그인리얼헬"/>
                        </div>
                      </div>
                    </div> -->
                </div>
                <div class="step_cont">
                    <div class="steph_wrap">
                        <p class="step_h">
                            <span>Step 1.  </span>
                            <span>재료 손질하기</span>
                        </p>
                        <p class="step_desc">
                            키친타올로 두부의 물기를 제거한 후 으깨주고 쪽파는 송송 썰어 주세요.
                        </p>
                        <ol class="tip_list">
                            <li class="tip">
                                <span>두부를 으깰 때는 수저 뒷면 또는 국자의 뒷면을 이용하거나 포크로 으깨면 좋아요. </span>
                            </li>
                            <li class="tip2">
                                <span><strong>남은 두부</strong>가 생겼다. 보관은 어떻게? <br> <a href="#">👉보관 솔루션 보러가기</a></span>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="step_tag_wrap">
                    <a href="#" class="s_tag">
                        마라
                    </a>
                    <a href="#">
                        이색요리
                    </a>
                    <a href="#">
                        달걀
                    </a>
                    <a href="#">
                        계란
                    </a>
                    <a href="#">
                        에그인헬
                    </a>
                    <a href="#">
                        매운요리
                    </a>
                    <a href="#">
                        파스타소스
                    </a>
                </div>
                <div class="comment_wrap">
                    <div class="total">
                        <h4>댓글 </h4>
                        <span>1</span>
                    </div>
                    <div class="com_login">
                        <div class="profile">
                            <img src="/images/common/profile.png" alt="">
                        </div>
                        <div class="loginFirst">
                            <a href="#">로그인</a>
                            하시고 댓글을 남겨보세요.
                        </div>
                    </div>
                    <div class="com_box">
                        <div class="profile">
                            <img src="/images/common/profile.png" alt="">
                        </div>
                        <div class="cmt">
                            <div class="name">
                                <p>yoon's table</p>
                                <span class="date">2024-11-08 21:29</span>
                            </div>
                            <div class="text">
                                건강하고 간편하게 먹기 딱인걸요!

                                <!-- <form>
                                  <div class="txtArea">
                                    <textarea id="txtBox" name="content" placeholder="내용을 입력하세요.">단백질 가득 너무 맛나겠어요!</textarea>
                                  </div>
                                </form> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>