<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}"
      layout:fragment="content" xmlns="http://www.w3.org/1999/html">

<head layout:fragment="config">
    <title>RecipeLab</title>
    <link rel="stylesheet" href="/css/archive_guide.css">
    <link rel="stylesheet" href="/css/archive_rep.css">
</head>

<body>
<!--<div class="share_control">-->
<!--    <button type="button" class="scrap"><i></i><span>스크랩</span></button>-->
<!--    <div class="share_wrap">-->
<!--        <button type="button" class="share"><i></i><span>공유하기</span></button>-->
<!--        <ul class="share_btn">-->
<!--            <li class="close">-->
<!--                <span>공유</span>-->
<!--                <button type="button">X</button>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="#" class="share_kakao_btn">-->
<!--                    <img src="/images/common/ic_kakao2.png" alt="카카오">-->
<!--                    <span>카카오톡</span>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="#" class="copy_clip_btn">-->
<!--                    <img src="/images/common/ic_url.png" alt="카카오">-->
<!--                    <span>URL복사</span>-->
<!--                </a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</div>-->
<div th:replace="~{/fragments :: shareControl}"></div>
<div id="wrap" class="archive_wrap">
    <main id="sol_container" class="container">
        <div th:replace="~{/fragments :: scroll}"></div>
        <section class="sol_view_wrap">
            <div class="view_title">
                <div class="inner">
                    <span class="label">솔루션</span>
                    <h3>무 손질 &amp; 보관법</h3>
                    <p class="date">2024.12.04 08:00</p>
                </div>
            </div>
        </section>
        <div class="solution_view_cont">
            <div class="solution_view_title">
                <h4>팔뚝만한 무, 어떻게 손질하고 보관할까?</h4>
                <p>올바르게 손질하고, 보관하는 법 함께 알아볼까요?</p>
            </div>
            <div class="solution_intro">
                <div class="sol_editor">
                    <div class="solution_scrap_line"></div>
                    <h3>부위별로 맛이 다른 무</h3>
                    <p class="tit">
                        무는 부위별로 맛의 특징이 달라<br>
                        요리에 따라 부위를 달리 활용하면<br>
                        무의 식감과 향미를 더 다양하게 즐길 수 있어요.
                    </p>
                    <img src="/images/archive1.jpg" alt="무다">
                    <p>
                        싱싱한 무를 골라, 부위별로 알맞게 활용하는 방법<br>
                        궁금하다면?
                        <a href="#">
                            <👉🏻클릭>
                        </a>
                        <br>
                        <br>
                        싱싱한 무를 골랐다면,<br>
                        어떻게 무를 보관하고, 손질하는지 알려드릴게요!
                    </p>
                    <div class="head_line"></div>
                    <h4>무 보관법</h4>
                    <p>
                        1) 줄기는 제거해 주세요.
                    </p>
                    <img src="/images/archive2.jpg" alt="무커트">
                    <p>
                        잎이나 줄기가 달린 무를 산 경우,<br>
                        <b>줄기를 잘라 보관</b>
                        하는것이 좋아요.
                    </p>
                    <h6>
                        &#42; 줄기 부위 특성상 빨리 무르기 때문이에요.
                    </h6>
                    <p>
                        2) 통무는 신문지에 돌돌 말아 보관해 주세요.
                    </p>
                    <video autoplay playsinline muted loop src="/images/video/moo.mp4"></video>
                    <img src="/images/archive3.jpg" alt="신문지 무">
                    <p>
                        통무는 <b> 세척하지않고 </b> 신문지에 싸서, 비닐에 넣은후,<br>
                        냉장(0~4&#8451;) 보관 해 주세요.
                    </p>
                    <h6 style="color: #ec7878; font-weight:500;">
                        Tip. 두세 겹의 신문지를 대각선으로 깔고 무를 돌돌 말면 쉽게 말 수 있어요!
                    </h6>
                    <p>
                        3) 쓰고 남은 무는 키친타올로 감싸기
                    </p>
                    <img src="/images/archive4.jpg" alt="신문지 무">
                    <p>
                        쓰고 남은 무는 키친타올로 감싸 <br>
                        잘린면의 <b>수분을 흡수</b> 시켜 비닐에 넣어 보관해요.
                    </p>
                    <div class="solution_line"></div>
                    <h5>📍 왜 세척하지 않고, 보관할까? </h5>
                    <p>세척한 무는 <u>자연 왁스층이 없어져</u> <br>수분이 빠져나가 신선도가 떨어지고, <br><u>표면의 물기로 곰팡이</u>가 생기기 쉬워져요.<br><br></p>
                    <h5>📍 겨울철 베란다에 보관했더니, 무가 얼어버렸다? </h5>
                    <p>무가 얼면 <b>세포벽이 손상</b>돼 <br>해동 후에는 <u>물렁물렁해지거나 물기가 많아</u>질 수 있어요. <br><br>이로 인해 생무와는 질감과 맛이 달라지죠.</p>
                    <img src="/images/archive5.jpg" alt="신문지 무">
                    <p>
                        만약 무가 얼어버렸다면, 요리에 이렇게 활용해 보세요!<br><br>
                    👉🏻국물 요리<br>
                    <p>언 무는 <b>부드러워서</b> 국물에 잘 어울려요.<br>
                    국(<a href="#">뭇국</a>)이나 찌개 등 국물 요리에 넣어<br>
                    무를 부드럽게 익혀보세요.<br><br>
                    👉🏻조림 요리<br>
                    언 무는 <b>양념이 속까지 잘 배어들어</b> 조림 요리에 넣으면<br>
                    부드럽고 깊은 맛을 더해줘요.<br>
                    무조림, <a href="#">갈치조림</a> 등 조림 요리에도 활용해보세요.<br><br>
                    </p>
                    <div class="head_line"></div>
                    <h4>무 손질법</h4>
                    <p>
                        무를 잘 보관했다면<br>
                        요리 전, 맛있게 손질해야겠죠?<br><br>
                    </p>
                    <p style="font-weight: 900">
                        1) 껍질, 제거할까 말까?
                    </p>
                    <img src="/images/archive6.jpg" alt="신문지 무">
                    <p>
                        ✅ 그대로 사용하기 <Br>
                        껍질에는 <u>섬유소</u>와 <u>항산화 성분</u>이 풍부하고,<br>
                        알싸한 <u>매운맛이 집중</u>되어 있어
                        잘 씻어 그대로 활용해도 좋아요.<br><br>

                        하지만 <u>농약이나 불순물</u>이 있을 수 있기 때문에<br>
                        <b style="color: red; text-decoration: none;"> 깨끗하게 씻는 것이 중요</b>해요.<br><br>
                        ✅ 껍질 제거하기<br>
                        농약 및 불순물을 확실히 제거하고 싶다면<br>
                        껍질을 벗기는 것이 안전하겠죠.<br><br>
                        조금 더 부드러운 식감을 내고,<br>
                        <u>알싸한 매운맛이 줄어들 수 있어요.</u>
                    </p>
                    <video autoplay playsinline muted loop src="/images/video/moo2.mp4" style="padding: 30px 0;"></video>
                    <p>
                        무를 도마에 올린 후,<br>
                        감자 칼을 이용해 세로결대로 벗겨주면<br>
                        쉽게 벗길 수 있답니다!<br><br>
                    </p>
                    <p style="font-weight: 900">
                        2) 뿌리털은 어떡하지?
                    </p>
                    <p>
                        무의 뿌리털에는 미생물이 많기 때문에,<br>
                        뿌리는 제거해 주는 것이 좋아요.
                    </p>
                    <video autoplay playsinline muted loop src="/images/video/moo3.mp4" style="padding-top: 30px;"></video>
                    <div class="solution_line"></div>
                    <p style="text-align: center;">
                        깨끗하게 무를 세척했다면<br>
                        요리 용도에 맞게 썰어 볼까요? 😊 <br>
                        <a href="#"><👉🏻6가지 무 썰기></a>
                    </p>
                </div>
            </div>
            <div th:replace="~{/fragments :: tag}"></div>
            <div th:replace="~{/fragments :: comment}"></div>
        </div>
        <div class="hr_line"></div>
        <div th:replace="~{/fragments :: tagList}"></div>
        <div th:replace="~{/fragments :: sol_list}"></div>
    </main>
</div>

</body>
</html>