<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      layout:fragment="content">

<head layout:fragment="config">
  <title>RecipeLab</title>
  <link rel="stylesheet" href="/css/cooking/counseling.css">
</head>
<body>
  <div id="skip_navi">
    <a href="#container">본문바로가기</a>
  </div>
  <div id="wrap">
    <main id="counsel_container" class="container">
      <div class="lab_inner">
        <div class="tit_sec">
          <h3>요리해요</h3>
        </div>
        <div class="tap_wrap">
          <ul>
            <li th:class="${#strings.equals(state, 'cooking') ? 'on' : ''}">
              <a href="/recipeLab/cooking" class="rec_btn">요리해요</a>
            </li>
            <li th:class="${#strings.equals(state, 'counseling') ? 'on' : ''}">
              <a href="/recipeLab/counseling" class="solu_btn">고민있어요</a>
            </li>
          </ul>
        </div>
        <div class="counsel_food_wrap">
          <img src="/images/il_samie_4.png" alt="">
          <div class="foodBtn_wrap">
            <p>
              요리에 대한 모든 고민<br>
              <span>고민이 있으세요? 지금 고민을 남기고 함께 해결방안을 찾아봐요!</span>
            </p>
            <a href="/cooking/counseling_write">
              작성하기
              <img src="/images/common/ic_write.png">
            </a>
          </div>
        </div>
        <section class="main_counsel">
          <div class="inner">
            <div class="filter">
              <ul>
                <li class="on">
                  <a href="#">최신순</a>
                </li>
                <li>
                  <a href="#">조회순</a>
                </li>
                <li>
                  <a href="#">스크랩순</a>
                </li>
              </ul>
            </div>
            <div class="tag_wrap">
              <ul class="counsel_area">
                <li class="counsel_item">
                  <a href="/recipeLab/archive_counsel">
                    <div class="info_wrap">
                      <span class="name">유하나</span>
                      <span class="date">2024.11.04 15:38</span>
                    </div>
                    <div class="txt_wrap">
                      <h4>깍두기양념으로 겉절이해도 될까요?</h4>
                      <p>겉절이 양념을 샀어야 했는데 
                        깍두기양념으로 두개나 샀어요 ㅠㅠ 
                        이걸로 배추 겉절이 해도 될까요? 
                        된다면 방법은 겉절이양념하듯 고춧가루 불려서
                        하면 될까요? </p>
                    </div>
                  </a>
                    <!-- <ul class="hash_wrap">
                      <li>
                      </li>
                    </ul> -->
                    <div class="footer">
                      <div class="cNum">
                        2
                      </div>
                      <a href="#" class="scrap">스크랩</a>
                    </div>
                </li>
                <li class="counsel_item">
                  <a href="/recipeLab/archive_counsel">
                    <div class="img_wrap">
                      <img src="/images/cook4.jpg" alt="">
                    </div>
                    <div class="info_wrap">
                      <span class="name">김봄</span>
                      <span class="date">2024.09.05 07:42</span>
                    </div>
                    <div class="txt_wrap">
                      <h4>즐요클럽에 대해 여쭤봅니당^^</h4>
                      <p>보내주신 안내지에 플랫폼 요리가 첨부한 사진처럼 네가지가 소개되어 있거든요.  요리를 네가지 해야하는건 아니지요? 그 중 한가지를 선택해서 요리하면 되겠지요?^^</p>
                    </div>
                    </a>
                    <div class="footer">
                      <div class="cNum">
                        2
                      </div>
                      <a href="#" class="scrap">스크랩</a>
                    </div>
                </li>
                <li class="counsel_item">
                  <a href="#">
                    <!-- <div class="img_wrap">
                      <img src="/images/cook4.jpg" alt="">
                    </div> -->
                    <div class="info_wrap">
                      <span class="name">요리가좋아</span>
                      <span class="date">2024.12.01 10:31</span>
                    </div>
                    <div class="txt_wrap">
                      <h4>언 김치 활용레시피</h4>
                        <p>김치냉장고 온도 조절이 잘 안되서 김치가 자꾸 얼어요. 
                          김치를 그냥 먹기에는 멋이 없어져서 얼어버린 석박지와 배추김치로 어떤 요리를 만들면 좋을까요? </p>
                    </div>
                    </a>
                    <ul class="hash_wrap">
                      <li>
                        얼은김치김치레시피
                      </li>
                    </ul>
                    <div class="footer">
                      <div class="cNum">
                        2
                      </div>
                      <a href="#" class="scrap">스크랩</a>
                    </div>
                </li>
                <li class="counsel_item">
                  <a href="#">
                    <div class="info_wrap">
                      <span class="name">유하나</span>
                      <span class="date">2024.11.04 15:38</span>
                    </div>
                    <div class="txt_wrap">
                      <h4>깍두기양념으로 겉절이해도 될까요?</h4>
                      <p>겉절이 양념을 샀어야 했는데 
                        깍두기양념으로 두개나 샀어요 ㅠㅠ 
                        이걸로 배추 겉절이 해도 될까요? 
                        된다면 방법은 겉절이양념하듯 고춧가루 불려서
                        하면 될까요? </p>
                    </div>
                  </a>
                    <!-- <ul class="hash-wrap">
                      <li>
                        얼은김치김치레시피
                      </li>
                    </ul> -->
                    <div class="footer">
                      <div class="cNum">
                        2
                      </div>
                      <a href="#" class="scrap">스크랩</a>
                    </div>
                </li>
                <li class="counsel_item">
                  <a href="#">
                    <div class="img_wrap">
                      <img src="/images/cook4.jpg" alt="">
                    </div>
                    <div class="info_wrap">
                      <span class="name">김봄</span>
                      <span class="date">2024.09.05 07:42</span>
                    </div>
                    <div class="txt_wrap">
                      <h4>즐요클럽에 대해 여쭤봅니당^^</h4>
                      <p>보내주신 안내지에 플랫폼 요리가 첨부한 사진처럼 네가지가 소개되어 있거든요.  요리를 네가지 해야하는건 아니지요? 그 중 한가지를 선택해서 요리하면 되겠지요?^^</p>
                    </div>
                    </a>
                    <div class="footer">
                      <div class="cNum">
                        2
                      </div>
                      <a href="#" class="scrap">스크랩</a>
                    </div>
                </li>
                <li class="counsel_item">
                  <a href="#">
                    <!-- <div class="img_wrap">
                      <img src="/images/cook4.jpg" alt="">
                    </div> -->
                    <div class="info_wrap">
                      <span class="name">요리가좋아</span>
                      <span class="date">2024.12.01 10:31</span>
                    </div>
                    <div class="txt_wrap">
                      <h4>언 김치 활용레시피</h4>
                        <p>김치냉장고 온도 조절이 잘 안되서 김치가 자꾸 얼어요. 
                          김치를 그냥 먹기에는 멋이 없어져서 얼어버린 석박지와 배추김치로 어떤 요리를 만들면 좋을까요? </p>
                    </div>
                    </a>
                    <ul class="hash_wrap">
                      <li>
                        얼은김치김치레시피
                      </li>
                    </ul>
                    <div class="footer">
                      <div class="cNum">
                        2
                      </div>
                      <a href="#" class="scrap">스크랩</a>
                    </div>
                </li>
                <li class="counsel_item">
                  <a href="#">
                    <div class="img_wrap">
                      <img src="/images/cook4.jpg" alt="">
                    </div>
                    <div class="info_wrap">
                      <span class="name">김봄</span>
                      <span class="date">2024.09.05 07:42</span>
                    </div>
                    <div class="txt_wrap">
                      <h4>즐요클럽에 대해 여쭤봅니당^^</h4>
                      <p>보내주신 안내지에 플랫폼 요리가 첨부한 사진처럼 네가지가 소개되어 있거든요.  요리를 네가지 해야하는건 아니지요? 그 중 한가지를 선택해서 요리하면 되겠지요?^^</p>
                    </div>
                    </a>
                    <div class="footer">
                      <div class="cNum">
                        2
                      </div>
                      <a href="#" class="scrap">스크랩</a>
                    </div>
                </li>
                <li class="counsel_item">
                  <a href="#">
                    <!-- <div class="img_wrap">
                      <img src="/images/cook4.jpg" alt="">
                    </div> -->
                    <div class="info_wrap">
                      <span class="name">요리가좋아</span>
                      <span class="date">2024.12.01 10:31</span>
                    </div>
                    <div class="txt_wrap">
                      <h4>언 김치 활용레시피</h4>
                        <p>김치냉장고 온도 조절이 잘 안되서 김치가 자꾸 얼어요. 
                          김치를 그냥 먹기에는 멋이 없어져서 얼어버린 석박지와 배추김치로 어떤 요리를 만들면 좋을까요? </p>
                    </div>
                    </a>
                    <ul class="hash_wrap">
                      <li>
                        얼은김치김치레시피
                      </li>
                    </ul>
                    <div class="footer">
                      <div class="cNum">
                        2
                      </div>
                      <a href="#" class="scrap">스크랩</a>
                    </div>
                </li>
              </ul>
              <div class="middle_wrap">
                <a href="#">
                  <img src="/images/mainbanner1.jpg" class="bimg">
                </a>
              </div>
              <ul class="counsel_area">
                <li class="counsel_item">
                  <a href="#">
                    <div class="info_wrap">
                      <span class="name">유하나</span>
                      <span class="date">2024.11.04 15:38</span>
                    </div>
                    <div class="txt_wrap">
                      <h4>깍두기양념으로 겉절이해도 될까요?</h4>
                      <p>겉절이 양념을 샀어야 했는데 
                        깍두기양념으로 두개나 샀어요 ㅠㅠ 
                        이걸로 배추 겉절이 해도 될까요? 
                        된다면 방법은 겉절이양념하듯 고춧가루 불려서
                        하면 될까요? </p>
                    </div>
                  </a>
                    <!-- <ul class="hash_wrap">
                      <li>
                        얼은김치김치레시피
                      </li>
                    </ul> -->
                    <div class="footer">
                      <div class="cNum">
                        2
                      </div>
                      <a href="#" class="scrap">스크랩</a>
                    </div>
                </li>
                <li class="counsel_item">
                  <a href="#">
                    <div class="img_wrap">
                      <img src="/images/cook4.jpg" alt="">
                    </div>
                    <div class="info_wrap">
                      <span class="name">김봄</span>
                      <span class="date">2024.09.05 07:42</span>
                    </div>
                    <div class="txt_wrap">
                      <h4>즐요클럽에 대해 여쭤봅니당^^</h4>
                      <p>보내주신 안내지에 플랫폼 요리가 첨부한 사진처럼 네가지가 소개되어 있거든요.  요리를 네가지 해야하는건 아니지요? 그 중 한가지를 선택해서 요리하면 되겠지요?^^</p>
                    </div>
                  </a>
                    <div class="footer">
                      <div class="cNum">
                        2
                      </div>
                      <a href="#" class="scrap">스크랩</a>
                    </div>
                </li>
                <li class="counsel_item">
                  <a href="#">
                    <!-- <div class="img_wrap">
                      <img src="/images/cook4.jpg" alt="">
                    </div> -->
                    <div class="info_wrap">
                      <span class="name">요리가좋아</span>
                      <span class="date">2024.12.01 10:31</span>
                    </div>
                    <div class="txt_wrap">
                      <h4>언 김치 활용레시피</h4>
                        <p>김치냉장고 온도 조절이 잘 안되서 김치가 자꾸 얼어요. 
                          김치를 그냥 먹기에는 멋이 없어져서 얼어버린 석박지와 배추김치로 어떤 요리를 만들면 좋을까요? </p>
                    </div>
                    </a>
                    <ul class="hash_wrap">
                      <li>
                        얼은김치김치레시피
                      </li>
                    </ul>
                    <div class="footer">
                      <div class="cNum">
                        2
                      </div>
                      <a href="#" class="scrap">스크랩</a>
                    </div>
                </li>
                <li class="counsel_item">
                  <a href="#">
                    <div class="info_wrap">
                      <span class="name">유하나</span>
                      <span class="date">2024.11.04 15:38</span>
                    </div>
                    <div class="txt_wrap">
                      <h4>깍두기양념으로 겉절이해도 될까요?</h4>
                      <p>겉절이 양념을 샀어야 했는데 
                        깍두기양념으로 두개나 샀어요 ㅠㅠ 
                        이걸로 배추 겉절이 해도 될까요? 
                        된다면 방법은 겉절이양념하듯 고춧가루 불려서
                        하면 될까요? </p>
                    </div>
                  </a>
                    <ul class="hash_wrap">
                      <li>
                        얼은김치김치레시피
                      </li>
                    </ul>
                    <div class="footer">
                      <div class="cNum">
                        2
                      </div>
                      <a href="#" class="scrap">스크랩</a>
                    </div>
                </li>
                <li class="counsel_item">
                  <a href="#">
                    <div class="img_wrap">
                      <img src="/images/cook4.jpg" alt="">
                    </div>
                    <div class="info_wrap">
                      <span class="name">김봄</span>
                      <span class="date">2024.09.05 07:42</span>
                    </div>
                    <div class="txt_wrap">
                      <h4>즐요클럽에 대해 여쭤봅니당^^</h4>
                      <p>보내주신 안내지에 플랫폼 요리가 첨부한 사진처럼 네가지가 소개되어 있거든요.  요리를 네가지 해야하는건 아니지요? 그 중 한가지를 선택해서 요리하면 되겠지요?^^</p>
                    </div>
                    </a>
                    <div class="footer">
                      <div class="cNum">
                        2
                      </div>
                      <a href="#" class="scrap">스크랩</a>
                    </div>
                </li>
                <li class="counsel_item">
                  <a href="#">
                    <!-- <div class="img_wrap">
                      <img src="/images/cook4.jpg" alt="">
                    </div> -->
                    <div class="info_wrap">
                      <span class="name">요리가좋아</span>
                      <span class="date">2024.12.01 10:31</span>
                    </div>
                    <div class="txt_wrap">
                      <h4>언 김치 활용레시피</h4>
                        <p>김치냉장고 온도 조절이 잘 안되서 김치가 자꾸 얼어요. 
                          김치를 그냥 먹기에는 멋이 없어져서 얼어버린 석박지와 배추김치로 어떤 요리를 만들면 좋을까요? </p>
                    </div>
                    </a>
                    <ul class="hash_wrap">
                      <li>
                        얼은김치김치레시피
                      </li>
                    </ul>
                    <div class="footer">
                      <div class="cNum">
                        2
                      </div>
                      <a href="#" class="scrap">스크랩</a>
                    </div>
                </li>
                <li class="counsel_item">
                  <a href="#">
                    <div class="img_wrap">
                      <img src="/images/cook4.jpg" alt="">
                    </div>
                    <div class="info_wrap">
                      <span class="name">김봄</span>
                      <span class="date">2024.09.05 07:42</span>
                    </div>
                    <div class="txt_wrap">
                      <h4>즐요클럽에 대해 여쭤봅니당^^</h4>
                      <p>보내주신 안내지에 플랫폼 요리가 첨부한 사진처럼 네가지가 소개되어 있거든요.  요리를 네가지 해야하는건 아니지요? 그 중 한가지를 선택해서 요리하면 되겠지요?^^</p>
                    </div>
                    </a>
                    <div class="footer">
                      <div class="cNum">
                        2
                      </div>
                      <a href="#" class="scrap">스크랩</a>
                    </div>
                </li>
                <li class="counsel_item">
                  <a href="#">
                    <!-- <div class="img_wrap">
                      <img src="/images/cook4.jpg" alt="">
                    </div> -->
                    <div class="info_wrap">
                      <span class="name">요리가좋아</span>
                      <span class="date">2024.12.01 10:31</span>
                    </div>
                    <div class="txt_wrap">
                      <h4>언 김치 활용레시피</h4>
                        <p>김치냉장고 온도 조절이 잘 안되서 김치가 자꾸 얼어요. 
                          김치를 그냥 먹기에는 멋이 없어져서 얼어버린 석박지와 배추김치로 어떤 요리를 만들면 좋을까요? </p>
                    </div>
                    </a>
                    <ul class="hash_wrap">
                      <li>
                        얼은김치김치레시피
                      </li>
                    </ul>
                    <div class="footer">
                      <div class="cNum">
                        2
                      </div>
                      <a href="#" class="scrap">스크랩</a>
                    </div>
                </li>
              </ul>
            </div>
            </div>
            <div class="board_pagination_wrap">
              <div class="board_pagination">
                <a href="#" class="prev_paging"><span class="blind">이전</span></a>
                <span class="num active">1</span>
                <a href="#" class="num">2</a>
                <a href="#" class="num">3</a>
                <a href="#" class="num">4</a>
                <a href="#" class="num">5</a>
                <a href="#" class="next_paging"><span class="blind">다음</span></a>
              </div>
            </div>
          </section>
          </div>
  
        </main>
  </div>
</body>
</html>