<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}"
      layout:fragment="content">

<head layout:fragment="config">
  <title>RecipeLab</title>
  <link rel="stylesheet" href="/css/recipeLab/solution.css">
</head>
<body>
    <main id="lab_container" class="container">
      <div class="lab_inner">
        <div class="tit_sec">
          <h3>요리연구소</h3>
        </div>
        <div class="tap_wrap">
          <ul>
            <li th:class="${#strings.equals(state,'list') ? 'on' : ''}">
              <a href="/recipeLab/list" class="rbtn">레시피</a>
            </li>
            <li th:class="${#strings.equals(state,'solution') ? 'on' : ''}">
              <a href="/recipeLab/solution" class="rbtn">솔루션</a>
            </li>
          </ul>
        </div>
        <div class="keyword_wrap">
          <div class="key_tit">
            <img src="/images/il_samie_key.png" alt="">
            <h4>
              새미의 추천 키워드
            </h4>
          </div>
          <div class="key_list">
            <ul>
              <li class="on">
                <a href="#">전체</a>
              </li>
              <li>
                <a href="#">계란요리</a>
              </li>
              <li>
                <a href="#">캠핑</a>
              </li>
              <li>
                <a href="#">브런치</a>
              </li>
              <li>
                <a href="#">국물요리</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="k_line"></div>
        <section class="main_sol">
          <div class="inner">
            <div class="filter">
              <ul>
                <li class="on">
                  <a href="#">최신순</a>
                </li>
                <li>
                  <a href="#">조회순</a>
                </li>
                <li>
                  <a href="#">스크랩순</a>
                </li>
              </ul>
            </div>
            <div class="tag_wrap">
              <ul class="sol_area">
                <li class="sol_item" th:each="sol : ${list}">
                  <a th:href="@{'/recipeLab/archive_sol/' + ${sol.solution_id}}">
                    <div class="img_wrap">
                      <img th:src="${'/images/' + sol.poster}" alt="">
                    </div>
                    <div class="txt_wrap">
                      <h4 th:text="${sol.solution_name}"></h4>
                      <p th:text="${sol.solution_desc}"></p>
                    </div>
                  </a>
                  <ul class="hash_wrap" th:each="hash : ${sol.hashnames}">
                    <li th:each="ha : ${#strings.setSplit(sol.hashnames,',')}" th:text="${ha}">
                    </li>
                  </ul>
                  <a href="#" class="scrap">스크랩</a>
                </li>
              </ul>
            </div>
            <div class="board_pagination_wrap">
              <div class="board_pagination">
                  <th:block th:utext="${paging}"></th:block>
              </div>
            </div>
          </div>
        </section>
   
      </div>
    </main>
</body>

</html>