<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      layout:fragment="content">

<head layout:fragment="config">
  <title>Member</title>
  <link rel="stylesheet" href="/css/member/joinComplete.css">
  <script src="/js/member.js"></script>
</head>

    <main id="main" class="main login">
      <div class="l-wrap-8">
        <div class="container">
          <h1 class="page-title">회원가입 완료</h1>
          <p class="page-desc">
            샘표의 다양한 서비스를 바로 이용하실 수 있습니다.
          </p>

          <div class="hr-block">
            <h2 class="hr-block-title">소셜미디어 계정으로 로그인</h2>
          </div>
          <p class="page-desc" th:utext="${email}">test123@gmail.com</p>

          <div class="form_func">
            <a id="formSubmitBtn" th:href="@{/member/login}" class="btn">로그인</a>
          </div>
        </div>
      </div>
    </main>

</html>
