<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      layout:fragment="content">

<head layout:fragment="config">
    <title>Guide</title>
    <link rel="stylesheet" href="/css/guide/archive_guide.css">
</head>

<main id="guide_container" class="container">
    <div id="guide_detail" class="section">
        <div class="detail_bg">
            <img th:src="@{'/images/' + ${guide.file_path}}" alt="배경">
        </div>

        <div class="detail_control">
            <div class="detail_left">
                <a href="/guide/list" class="detail_btn">목록으로</a>
            </div>
            <div th:replace="~{fragments :: scrap}"></div>
        </div>

        <div class="detail_wrap">
            <div class="detail_con">
                <div class="detail_title">
                    <h3 th:utext="${guide.guide_name}"></h3>
                    <p>
                        <span th:utext="${guide.guide_desc}"></span>
                        <br>
                        <br>
                        <span th:utext="${guide.guide_detail}"></span>
                    </p>
                    <div class="guide_tag" th:each="hash : ${guide.hashnames}">
                        <span class="tag" th:each="ha : ${#strings.setSplit(guide.hashnames,',')}" th:text="${'#' + ha}"></span>
                    </div>
                </div>
                <ul class="tag_list hash_list">
                    <li th:each="item : ${sol}">
                        <a th:href="@{'/recipeLab/archive_sol/'}">
                            <div class="detail_img" th:each="img : ${#strings.setSplit(item['POSTER'],',')}">
                                <img th:src="${'/images/' + img}" alt="디테일">
                            </div>
                            <div class="detail_text" th:if="${item != null}">
                                <h4 th:text="${item['SOLUTION_NAME']}"></h4>
                                <p th:text="${item['SOLUTION_DESC']}"></p>
                            </div>
                        </a>
                        <ul class="hash_wrap">
                            <li th:each="hash,state : ${#strings.setSplit(item['HASHNAMES'], ',')}" th:if="${state.index < 2}" th:text="${'#' + hash}"></li>
                        </ul>
                        <button class="scrap" type="button">스크랩</button>
                    </li>
                    <li th:each="item : ${list}">
                        <a th:href="@{/recipeLab/archive_lab/{lab_id}}">
                            <div class="detail_img">
                                <img th:src="@{'/images/' + ${item['POSTER']}}" alt="디테일">
                            </div>
                            <div class="detail_text">
                                <h4 th:text="${item['LAB_NAME']}"></h4>
                                <p th:text="${item['LAB_NAME_DESC']}"></p>
                            </div>
                        </a>
                        <ul class="tag_wrap">
                            <li>
                                <span>준비시간</span>
                                <p th:text="${item['PREPARATION'] + '분'}"></p>
                            </li>
                            <li>
                                <span>조리시간</span>
                                <p th:text="${item['COOKINGTIME'] + '분'}"></p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>

</html>