<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}"
      layout:fragment="content">

<head layout:fragment="config">
    <title>Guide</title>
    <link rel="stylesheet" href="/css/guide.css">
</head>
<body>
<main id="guide_container" class="container">
    <div id="guide" class="section">
        <div class="guide_inner">
            <div class="guide_title">
                <h3>요리초보가이드</h3>
            </div>
            <div class="filter">
                <ul>
                    <li class="on">
                        <a href="#">최신순</a>
                    </li>
                    <li>
                        <a href="#">조회순</a>
                    </li>
                    <li>
                        <a href="#">스크랩순</a>
                    </li>
                </ul>
            </div>
            <div class="guide_wrap">
                <ul>
                    <li th:each="guide : ${list}">
                        <a th:href="@{'/guide/guide_archive/' + ${guide.guide_id}}">
                            <ul class="thumb">
                                <li th:if="${guide.files != null}"
                                    th:each="item : ${#strings.setSplit(guide.files, ',')}"
                                >
                                    <img th:src="@{'/images/' + ${item}}" alt="이미지">
                                    <p class="more_detail">자세히 보기</p>
                                </li>
                            </ul>
                            <div class="picture">
                                <img th:src="${'/images/' + guide.poster}" alt="이미지">
                                <p th:utext="${guide.guide_name}">
                                </p>
                                    <span class="num">8</span>
                                <div class="guide_tip" th:utext="${guide.guide_desc}">
                                </div>
                            </div>
                        </a>
                        <button class="scrap" type="button">스크랩</button>
                    </li>
                    <!--                    <li>-->
                    <!--                        <a href="#">-->
                    <!--                            <ul class="thumb">-->
                    <!--                                <li><img src="/images/guide1.jpg" alt="이미지"></li>-->
                    <!--                                <li><img src="/images/guide1.jpg" alt="이미지"></li>-->
                    <!--                                <li>-->
                    <!--                                    <img src="/images/guide1.jpg" alt="이미지">-->
                    <!--                                    <p class="more_detail">자세히 보기</p>-->
                    <!--                                </li>-->
                    <!--                            </ul>-->
                    <!--                            <div class="picture">-->
                    <!--                                <img src="/images/guide1.jpg" alt="이미지">-->
                    <!--                                <p class="guide_text">-->
                    <!--                                    냉장고를 열었더니-->
                    <!--                                    <br>-->
                    <!--                                    남은 '무'가 있다.-->
                    <!--                                    <span class="num">8</span>-->
                    <!--                                </p>-->
                    <!--                                <div class="guide_tip">-->
                    <!--                                    커다란 '무' 하나 사면,-->
                    <!--                                    <br>-->
                    <!--                                    다 먹지 못하고 버리게 되는 분, 손!-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </a>-->
                    <!--                    </li>-->
                    <!--                    <li>-->
                    <!--                        <a href="#">-->
                    <!--                            <ul class="thumb">-->
                    <!--                                <li><img src="/images/guide1.jpg" alt="이미지"></li>-->
                    <!--                                <li><img src="/images/guide1.jpg" alt="이미지"></li>-->
                    <!--                                <li>-->
                    <!--                                    <img src="/images/guide1.jpg" alt="이미지">-->
                    <!--                                    <p class="more_detail">자세히 보기</p>-->
                    <!--                                </li>-->
                    <!--                            </ul>-->
                    <!--                            <div class="picture">-->
                    <!--                                <img src="/images/guide1.jpg" alt="이미지">-->
                    <!--                                <p class="guide_text">-->
                    <!--                                    냉장고를 열었더니-->
                    <!--                                    <br>-->
                    <!--                                    남은 '무'가 있다.-->
                    <!--                                    <span class="num">8</span>-->
                    <!--                                </p>-->
                    <!--                                <div class="guide_tip">-->
                    <!--                                    커다란 '무' 하나 사면,-->
                    <!--                                    <br>-->
                    <!--                                    다 먹지 못하고 버리게 되는 분, 손!-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </a>-->
                    <!--                    </li>-->
                    <!--                    <li>-->
                    <!--                        <a href="#">-->
                    <!--                            <ul class="thumb">-->
                    <!--                                <li><img src="/images/guide1.jpg" alt="이미지"></li>-->
                    <!--                                <li><img src="/images/guide1.jpg" alt="이미지"></li>-->
                    <!--                                <li>-->
                    <!--                                    <img src="/images/guide1.jpg" alt="이미지">-->
                    <!--                                    <p class="more_detail">자세히 보기</p>-->
                    <!--                                </li>-->
                    <!--                            </ul>-->
                    <!--                            <div class="picture">-->
                    <!--                                <img src="/images/guide1.jpg" alt="이미지">-->
                    <!--                                <p class="guide_text">-->
                    <!--                                    냉장고를 열었더니-->
                    <!--                                    <br>-->
                    <!--                                    남은 '무'가 있다.-->
                    <!--                                    <span class="num">8</span>-->
                    <!--                                </p>-->
                    <!--                                <div class="guide_tip">-->
                    <!--                                    커다란 '무' 하나 사면,-->
                    <!--                                    <br>-->
                    <!--                                    다 먹지 못하고 버리게 되는 분, 손!-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </a>-->
                    <!--                    </li>-->
                    <!--                    <li>-->
                    <!--                        <a href="#">-->
                    <!--                            <ul class="thumb">-->
                    <!--                                <li><img src="/images/guide1.jpg" alt="이미지"></li>-->
                    <!--                                <li><img src="/images/guide1.jpg" alt="이미지"></li>-->
                    <!--                                <li>-->
                    <!--                                    <img src="/images/guide1.jpg" alt="이미지">-->
                    <!--                                    <p class="more_detail">자세히 보기</p>-->
                    <!--                                </li>-->
                    <!--                            </ul>-->
                    <!--                            <div class="picture">-->
                    <!--                                <img src="/images/guide1.jpg" alt="이미지">-->
                    <!--                                <p class="guide_text">-->
                    <!--                                    냉장고를 열었더니-->
                    <!--                                    <br>-->
                    <!--                                    남은 '무'가 있다.-->
                    <!--                                    <span class="num">8</span>-->
                    <!--                                </p>-->
                    <!--                                <div class="guide_tip">-->
                    <!--                                    커다란 '무' 하나 사면,-->
                    <!--                                    <br>-->
                    <!--                                    다 먹지 못하고 버리게 되는 분, 손!-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </a>-->
                    <!--                    </li>-->
                    <!--                    <li>-->
                    <!--                        <a href="#">-->
                    <!--                            <ul class="thumb">-->
                    <!--                                <li><img src="/images/guide1.jpg" alt="이미지"></li>-->
                    <!--                                <li><img src="/images/guide1.jpg" alt="이미지"></li>-->
                    <!--                                <li>-->
                    <!--                                    <img src="/images/guide1.jpg" alt="이미지">-->
                    <!--                                    <p class="more_detail">자세히 보기</p>-->
                    <!--                                </li>-->
                    <!--                            </ul>-->
                    <!--                            <div class="picture">-->
                    <!--                                <img src="/images/guide1.jpg" alt="이미지">-->
                    <!--                                <p class="guide_text">-->
                    <!--                                    냉장고를 열었더니-->
                    <!--                                    <br>-->
                    <!--                                    남은 '무'가 있다.-->
                    <!--                                    <span class="num">8</span>-->
                    <!--                                </p>-->
                    <!--                                <div class="guide_tip">-->
                    <!--                                    커다란 '무' 하나 사면,-->
                    <!--                                    <br>-->
                    <!--                                    다 먹지 못하고 버리게 되는 분, 손!-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </a>-->
                    <!--                    </li>-->
                    <!--                    <li>-->
                    <!--                        <a href="#">-->
                    <!--                            <ul class="thumb">-->
                    <!--                                <li><img src="/images/guide1.jpg" alt="이미지"></li>-->
                    <!--                                <li><img src="/images/guide1.jpg" alt="이미지"></li>-->
                    <!--                                <li>-->
                    <!--                                    <img src="/images/guide1.jpg" alt="이미지">-->
                    <!--                                    <p class="more_detail">자세히 보기</p>-->
                    <!--                                </li>-->
                    <!--                            </ul>-->
                    <!--                            <div class="picture">-->
                    <!--                                <img src="/images/guide1.jpg" alt="이미지">-->
                    <!--                                <p class="guide_text">-->
                    <!--                                    냉장고를 열었더니-->
                    <!--                                    <br>-->
                    <!--                                    남은 '무'가 있다.-->
                    <!--                                    <span class="num">8</span>-->
                    <!--                                </p>-->
                    <!--                                <div class="guide_tip">-->
                    <!--                                    커다란 '무' 하나 사면,-->
                    <!--                                    <br>-->
                    <!--                                    다 먹지 못하고 버리게 되는 분, 손!-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </a>-->
                    <!--                    </li>-->
                    <!--                    <li>-->
                    <!--                        <a href="#">-->
                    <!--                            <ul class="thumb">-->
                    <!--                                <li><img src="/images/guide1.jpg" alt="이미지"></li>-->
                    <!--                                <li><img src="/images/guide1.jpg" alt="이미지"></li>-->
                    <!--                                <li>-->
                    <!--                                    <img src="/images/guide1.jpg" alt="이미지">-->
                    <!--                                    <p class="more_detail">자세히 보기</p>-->
                    <!--                                </li>-->
                    <!--                            </ul>-->
                    <!--                            <div class="picture">-->
                    <!--                                <img src="/images/guide1.jpg" alt="이미지">-->
                    <!--                                <p class="guide_text">-->
                    <!--                                    냉장고를 열었더니-->
                    <!--                                    <br>-->
                    <!--                                    남은 '무'가 있다.-->
                    <!--                                    <span class="num">8</span>-->
                    <!--                                </p>-->
                    <!--                                <div class="guide_tip">-->
                    <!--                                    커다란 '무' 하나 사면,-->
                    <!--                                    <br>-->
                    <!--                                    다 먹지 못하고 버리게 되는 분, 손!-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </a>-->
                    <!--                    </li>-->
                    <!--                    <li>-->
                    <!--                        <a href="#">-->
                    <!--                            <ul class="thumb">-->
                    <!--                                <li><img src="/images/guide1.jpg" alt="이미지"></li>-->
                    <!--                                <li><img src="/images/guide1.jpg" alt="이미지"></li>-->
                    <!--                                <li>-->
                    <!--                                    <img src="/images/guide1.jpg" alt="이미지">-->
                    <!--                                    <p class="more_detail">자세히 보기</p>-->
                    <!--                                </li>-->
                    <!--                            </ul>-->
                    <!--                            <div class="picture">-->
                    <!--                                <img src="/images/guide1.jpg" alt="이미지">-->
                    <!--                                <p class="guide_text">-->
                    <!--                                    냉장고를 열었더니-->
                    <!--                                    <br>-->
                    <!--                                    남은 '무'가 있다.-->
                    <!--                                    <span class="num">8</span>-->
                    <!--                                </p>-->
                    <!--                                <div class="guide_tip">-->
                    <!--                                    커다란 '무' 하나 사면,-->
                    <!--                                    <br>-->
                    <!--                                    다 먹지 못하고 버리게 되는 분, 손!-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </a>-->
                    <!--                    </li>-->
                    <!--                    <li>-->
                    <!--                        <a href="#">-->
                    <!--                            <ul class="thumb">-->
                    <!--                                <li><img src="/images/guide1.jpg" alt="이미지"></li>-->
                    <!--                                <li><img src="/images/guide1.jpg" alt="이미지"></li>-->
                    <!--                                <li>-->
                    <!--                                    <img src="/images/guide1.jpg" alt="이미지">-->
                    <!--                                    <p class="more_detail">자세히 보기</p>-->
                    <!--                                </li>-->
                    <!--                            </ul>-->
                    <!--                            <div class="picture">-->
                    <!--                                <img src="/images/guide1.jpg" alt="이미지">-->
                    <!--                                <p class="guide_text">-->
                    <!--                                    냉장고를 열었더니-->
                    <!--                                    <br>-->
                    <!--                                    남은 '무'가 있다.-->
                    <!--                                    <span class="num">8</span>-->
                    <!--                                </p>-->
                    <!--                                <div class="guide_tip">-->
                    <!--                                    커다란 '무' 하나 사면,-->
                    <!--                                    <br>-->
                    <!--                                    다 먹지 못하고 버리게 되는 분, 손!-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </a>-->
                    <!--                    </li>-->
                    <!--                    <li>-->
                    <!--                        <a href="#">-->
                    <!--                            <ul class="thumb">-->
                    <!--                                <li><img src="/images/guide1.jpg" alt="이미지"></li>-->
                    <!--                                <li><img src="/images/guide1.jpg" alt="이미지"></li>-->
                    <!--                                <li>-->
                    <!--                                    <img src="/images/guide1.jpg" alt="이미지">-->
                    <!--                                    <p class="more_detail">자세히 보기</p>-->
                    <!--                                </li>-->
                    <!--                            </ul>-->
                    <!--                            <div class="picture">-->
                    <!--                                <img src="/images/guide1.jpg" alt="이미지">-->
                    <!--                                <p class="guide_text">-->
                    <!--                                    냉장고를 열었더니-->
                    <!--                                    <br>-->
                    <!--                                    남은 '무'가 있다.-->
                    <!--                                    <span class="num">8</span>-->
                    <!--                                </p>-->
                    <!--                                <div class="guide_tip">-->
                    <!--                                    커다란 '무' 하나 사면,-->
                    <!--                                    <br>-->
                    <!--                                    다 먹지 못하고 버리게 되는 분, 손!-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </a>-->
                    <!--                    </li>-->
                    <!--                    <li>-->
                    <!--                        <a href="#">-->
                    <!--                            <ul class="thumb">-->
                    <!--                                <li><img src="/images/guide1.jpg" alt="이미지"></li>-->
                    <!--                                <li><img src="/images/guide1.jpg" alt="이미지"></li>-->
                    <!--                                <li>-->
                    <!--                                    <img src="/images/guide1.jpg" alt="이미지">-->
                    <!--                                    <p class="more_detail">자세히 보기</p>-->
                    <!--                                </li>-->
                    <!--                            </ul>-->
                    <!--                            <div class="picture">-->
                    <!--                                <img src="/images/guide1.jpg" alt="이미지">-->
                    <!--                                <p class="guide_text">-->
                    <!--                                    냉장고를 열었더니-->
                    <!--                                    <br>-->
                    <!--                                    남은 '무'가 있다.-->
                    <!--                                    <span class="num">8</span>-->
                    <!--                                </p>-->
                    <!--                                <div class="guide_tip">-->
                    <!--                                    커다란 '무' 하나 사면,-->
                    <!--                                    <br>-->
                    <!--                                    다 먹지 못하고 버리게 되는 분, 손!-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </a>-->
                    <!--                    </li>-->
                </ul>
            </div>
            <th:block th:utext="${paging}"></th:block>
        </div>
    </div>
</main>
</body>
</html>