<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}"
      layout:fragment="content">

<head layout:fragment="config">
    <title>Guide</title>
    <link rel="stylesheet" href="/css/guide/guide.css">
</head>
<body>
<main id="guide_container" class="container">
    <div id="guide" class="section">
        <div class="guide_inner">
            <div class="guide_title">
                <h3>요리초보가이드</h3>
            </div>
            <div class="filter">
                <ul>
                    <li class="on">
                        <a href="#">최신순</a>
                    </li>
                    <li>
                        <a href="#">조회순</a>
                    </li>
                    <li>
                        <a href="#">스크랩순</a>
                    </li>
                </ul>
            </div>
            <div class="guide_wrap">
                <ul>
                    <li th:each="guide : ${list}">
                        <a th:href="@{'/guide/guide_archive/' + ${guide.guide_id}}">
                            <ul class="thumb">
                                <li th:if="${guide.files != null}"
                                    th:each="item : ${#strings.setSplit(guide.files, ',')}"
                                >
                                    <img th:src="@{'/images/' + ${item}}" alt="이미지">
                                    <p class="more_detail">자세히 보기</p>
                                </li>
                            </ul>
                            <div class="picture">
                                <img th:src="${'/images/' + guide.poster}" alt="이미지">
                                <p th:utext="${guide.guide_name}">
                                </p>
                                    <span class="num">8</span>
                                <div class="guide_tip" th:utext="${guide.guide_desc}">
                                </div>
                            </div>
                        </a>
                        <button class="scrap" type="button">스크랩</button>
                    </li>
                </ul>
            </div>
            <th:block th:utext="${paging}"></th:block>
        </div>
    </div>
</main>
</body>
</html>