@import 'adminCommon.css';

#btn-box.center {
  text-align: center;
}

#btn-box [class*='btn'] {
  margin-right: 13px;
}

#btn-box [class*='btn']:last-child {
  margin-right: 0;
}

.btn_md {
  display: inline-block;
  padding: 14px 24px;
  color: #15a775;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 38px;
  border: solid 2px #15a775;
  box-sizing: border-box;
  transition: all 0.2s;
  text-decoration: none;
}
