:root {
    --point-color1: #0bab6d;
    --point-color2: #fb9622;
    --gray-500: #111;
    --gray-600: #000;
}


.lab_inner {
    /* max-width: 1556px; */
    max-width: 1600px;
    margin: 0 auto;
    padding: 200px 30px 100px;
}

.tit_sec {
    /* max-width: 1496px; */
    margin-bottom: 30px;

}

.tit_sec h3 {
    font-size: 60px;
    font-weight: 900;
}

.tap_wrap {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 50px;
    border: 1px solid #e5e5e5;

}

.tap_wrap::after {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background: #e5e5e5;
}

.tap_wrap ul {
    display: flex;
}

.tap_wrap ul > li {
    width: 100%;
}

.tap_wrap ul > li > a {
    display: block;
    width: 100%;
    padding: 22px 0;
    color: #999;
    font-size: 22px;
    text-align: center;
}

.tap_wrap ul > li.on a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    background-color: #fff9e2;
}

.tap_wrap li.on a::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(/images/common/ic_star_pink.png) no-repeat 100% / 100%;
}

.food_wrap {
    position: relative;
    margin-bottom: 50px;
    /* display: flex; */
    border-radius: 10px;
    overflow: hidden;
}

.food_wrap img {
    position: absolute;
    margin-left: 50px;
    /* height: 150px; */
    z-index: 10;
}

.foodBtn_wrap {
    position: relative;
    background: #ffaf54;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 29px 50px 25px 221px;
    color: #fff;
}

.foodBtn_wrap p {
    font-size: 24px;
    font-weight: 700;
    padding-left: 20px;
}

.foodBtn_wrap span {
    font-size: 18px;
    font-weight: normal;
}

.foodBtn_wrap a {
    position: relative;
    color: #fff;
    display: flex;
    padding-right: 20px;
}

.foodBtn_wrap a::before {
    position: absolute;
    content: '';
    top: 50%;
    left: -60%;
    height: 54px;
    width: 1px;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.6);
}

.foodBtn_wrap img {
    padding-left: 10px;
}

.main_detail .inner {
    max-width: 1496px;
    margin: 0 auto;
}

.main_detail .filter {
    margin-bottom: 30px;
}

.main_detail .filter ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.main_detail .filter ul > li {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.main_detail .filter li::after {
    content: '';
    width: 4px;
    height: 4px;
    margin: 8px;
    border-radius: 100%;
    background-color: #c4c4c4;
}

.main_detail .filter li:last-of-type::after {
    display: none;
}

.main_detail .filter li > a {
    color: #c4c4c4;
}

.main_detail .filter li.on a {
    color: #111;
    font-weight: 600;
    margin-left: 20px;
}

.main_detail .filter li.on a::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    margin-left: -20px;
    transform: translateY(-50%);
    background: url(/images/common/ckeck.svg) no-repeat center;
}

.main_detail .tag_item:hover {
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #0bab6d;
}

.main_detail .tag_area {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 32px);
    margin-left: -16px;
}

.main_detail .tag_item {
    /* display: inline-block; */
    position: relative;
    width: calc(25% - 32px);
    margin: 0 16px 60px;
    border: 1px solid #e5e5e5;
    overflow: hidden;
    border-radius: 10px;
}

.tag_item a {
    display: block;
    min-height: 70%;
}

.main_detail .img_wrap {
    position: relative;
}

.main_detail .info_wrap {
    padding: 0 24px;
    margin: 18px 0 16px;
    height: 26px;
    font-size: 14px;
    color: #9999;
}

.info_wrap .date {
    position: relative;
    margin-left: 10px;
    padding-left: 10px;
}

.info_wrap .date::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 1px;
    height: 8px;
    transform: translateY(-50%);
    background: #c4c4c4;
}

.main_detail .txt_wrap {
    padding: 0 24px;
}

.main_detail .txt_wrap h4 {
    font-size: 20px;
    height: 57px;
    font-weight: 700;
}

.main_detail .txt_wrap p {
    font-size: 16px;
    margin-top: 16px;
    padding-top: 16px;
    font-weight: 300;
    border-top: 1px solid #e5e5e5;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.main_detail .footer {
    display: flex;
    align-items: center;
    padding: 80px 24px 30px;
    /* padding: 18px 24px; */
    justify-content: space-between;
}

.footer .cNum {
    margin-left: 23px;
}

.footer .cNum::after {
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    left: 20px;
    background: url(/images/common/ic_comment.png) no-repeat 100%  / 100%;
}

.footer .scrap {
    right: 24px;
    width: 36px;
    height: 36px;
    text-indent: -9999px;
    background: url(/images/common/ic_scrap_grey.png) no-repeat 100% / 100%;
}

.main_detail .hash_wrap {
    display: flex;
    padding: 0 24px;
}

.main_detail .hash_wrap li {
    margin-bottom: 6px;
    margin-right: 10px;
    color: #15a775;
    font-size: 16px;
    font-weight: 500;
}

.main_detail .hash_wrap li::before {
    content: '#';
}

.middle_wrap {
    margin-bottom: 80px;
}

.middle_wrap .bimg {
    height: 160px;
    width: 100%;
}
