.main_search .inner {
  max-width: 1180px;
  margin: 0 auto;
  padding: 200px 30px 0;
}

.main_search .search-box {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
}

.main_search .search-box .select {
    position: relative;
    margin-right: 15px;
    width: 236px;
    height: 80px;
    padding: 0 40px;
    font-size: 20px;
    font-weight: 800;
    line-height: calc(5rem - 6px);
    border-radius: 46px;
    border: solid 3px #e5e5e5;
    cursor: pointer;
}
.main_search .search-box .select::after {
    content: "";
    background-image: url(/images/common/ic_down.png);
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
    background-position: 100% 50%;
}

.main_search .search-box .select option {
    display: block;
    width: 236px;
    padding: 1.25rem 0;
    font-size: 1.25rem;
    font-weight: 500;
    color: #111;
    background-position: 100% 50%;
    background-image: url(/images/common/check.svg);
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
}

.main_search  .search-box .search {
  display: flex;
  align-items: center;
  width: 100%;
}
.main_search .search-box .search input {
  width: calc(100% - 170px);
  height: 80px;
  margin-right: 10px;
  padding: 0 40px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 46px 0 0 46px;
  background-color: #f3f3f3;
}
.main_search .search-box .search button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 80px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 0 46px 46px 0;
  background-color: #15a775;
  border: 0;
}
.main_search .search-box .search button::after {
  content: "";
  width: 30px;
  height: 30px;
  background: url(/images/common/ic_search_w.png) no-repeat 0 0 / 100%;
}

.main_search .keyword {
  margin-bottom: 30px;
}
.main_search .keyword p {
  margin-bottom: 20px;
  color: #15a775;
  font-size: 22px;
  font-weight: 900;
}
.main_search .keyword .key_list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.main_search .keyword .key_list a::before {
  content: "#";
}
.main_search .keyword .key_list a {
  margin-right: 8px;
  padding: 10px 16px;
  border-radius: 21px;
  border: solid 1px #d4d4d4;
  white-space: nowrap;
}

.main_search .result {
  padding: 48px 0;
  text-align: center;
  line-height: 1.7;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 80px;
}
.main_search .result p {
  font-size: 20px;
  font-weight: 900;
}


.sr_guide {
  margin-bottom:80px;
}
.sr_guide .inner {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 30px;
}

.sr_guide .tit {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #15a775;
}
.sr_guide .tit h3 {
  font-size: 22px;
  color: #15a775;
  font-weight: 900;
}
.sr_guide .guide_wrap {
  margin-bottom: 80px;
}
.sr_guide .guide_wrap ul {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 34px);
  margin-left: -17px;
}
.sr_guide .guide_wrap ul li {
  overflow: hidden;
  position: relative;
  width: calc(33.33% - 34px);
  margin: 0 17px 34px;
  height: 434px;
  border-radius: 24px;
  box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, 0.1);
}
.sr_guide .guide_wrap .thumb {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 17px;
  width: 100%;
  height: 140px;
  padding: 20px;
  background-color: #fff;
}
.sr_guide .guide_wrap .thumb li {
  overflow: hidden;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin: 0;
}
.sr_guide .guide_wrap ul li .thumb li img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}
.sr_guide .guide_wrap ul li .thumb li:last-of-type .more_detail {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.5);
}
.sr_guide .guide_wrap ul li .picture {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: all 0.4s ease-out;
}
.sr_guide .guide_wrap ul li .picture img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease-out;
}
.sr_guide .guide_wrap ul li:hover .picture {
  height: 300px;
  width: 100%;
}
.sr_guide .guide_wrap ul li .picture p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 30px;
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  word-wrap: break-word;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.4) 87%, rgba(0, 0, 0, 0.6));
  transition: all 1s;
}
.sr_guide .guide_wrap ul li .picture p .num::before {
  content: "+";
}
.sr_guide .guide_wrap ul li .picture p .num {
  display: block;
  width: 60px;
  margin-top: 20px;
  padding: 6px 0;
  color: #fff;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  white-space: nowrap;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.25);
}

.sr_guide .guide_wrap ul li .picture .guide_tip {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 80px);
  height: 79px;
  margin: 0 40px 34px;
  padding: 34px 0 0;
  color: #fff;
  font-size: 18px;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  opacity: 1;
  transition: all 0.2s;
  transition-delay: 0.4s;
}
.sr_guide .guide_wrap ul li:hover .picture .guide_tip {
  opacity: 0;
  transition: all 0s;
}

.sr_guide .guide_wrap .scrap {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 36px;
  height: 36px;
  text-indent: -9999px;
  z-index: 9999;
  background: url(/images/common/ic_scrap.png) no-repeat 100% / 100%;
  border: none;
}

.sr_recipe .inner {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 30px;
}

.sr_recipe .tag_wrap {
    display: flex;
    justify-content: space-between;
}
.sr_recipe .rep_area {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 32px);
    margin-left: -16px;
}
.sr_recipe .rep_area .rep_item {
    position: relative;
    width: calc(25% - 32px);
    margin: 0 16px 60px;
    box-sizing: border-box;
}
.sr_recipe .rep_area .img_wrap {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}
.sr_recipe .rep_area .txt_wrap {
    padding: 20px 0 32px;
}
.sr_recipe .rep_area .txt_wrap h4 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.sr_recipe .rep_area .txt_wrap p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}


.sr_recipe.rep_area .time_wrap {
    display: flex;
}
.sr_recipe .rep_area .time_wrap li {
    display: inline-flex;
    padding: 10px 5px;
    width: 49%;
    justify-content: center;
    font-size: 13px;
    border-radius: 20px;
    background: #f3f3f3;
}
.sr_recipe .rep_area .time_wrap span {
    position: relative;
    margin-right: 10px;
    padding-right: 10px;
    font-weight: 700;
}
.sr_recipe .rep_area .time_wrap span::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 1px;
    height: 10px;
    background: #b8b8b8;
    transform: translateY(-50%);
}

.sr_recipe .rep_item .scrap {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 36px;
    height: 36px;
    text-indent: -9999px;
    background: url(/images/common/ic_scrap.png) no-repeat 100% / 100%;
}

.sr_sol {
  padding-bottom:100px;
}
.sr_sol .inner {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 30px;
}

.sr_sol .sol_area {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 32px);
    margin-left: -16px;
}
.sr_sol .sol_area .sol_item {
    /* display: inline-block; */
    position: relative;
    width: calc(25% - 32px);
    margin: 0 16px 60px;
    box-sizing: border-box;
}
.sr_sol .sol_area .img_wrap {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}
.sr_sol .sol_area .txt_wrap {
    padding: 20px 0 32px;
}
.sr_sol .sol_area .txt_wrap h4 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.sr_sol .sol_area .txt_wrap p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.sr_sol .sol_area .hash_wrap {
    display: flex;
}
.sr_sol .sol_area .hash_wrap li::before {
    content: '#';
}
.sr_sol .sol_area .hash_wrap li {
    margin-bottom: 6px;
    margin-right: 10px;
    color: #15a775;
    font-size: 16px;
    font-weight: 500;
}
.sr_sol .scrap {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 36px;
    height: 36px;
    text-indent: -9999px;
    background: url(../images/common/ic_scrap.png) no-repeat 100% / 100%;
}