<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="detail_right" th:fragment="scrap">
    <button type="button" class="scrap">스크랩</button>
    <div class="share_wrap">
        <button type="button" class="share">공유하기</button>
        <ul class="share_btn">
            <li class="close">
                <span>공유</span>
                <button type="button">X</button>
            </li>
            <li>
                <a href="#" class="share_kakao_btn">
                    <img src="/images/common/ic_kakao2.png" alt="카카오">
                    <span>카카오톡</span>
                </a>
            </li>
            <li>
                <a href="#" class="copy_clip_btn">
                    <img src="/images/common/ic_url.png" alt="카카오">
                    <span>URL복사</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="step_tag_wrap" th:fragment="tag">
    <a href="#" class="s_tag">
        하하하하
    </a>
    <a href="#">
        하하하하
    </a>
    <a href="#">
        하하하하
    </a>
    <a href="#">
        하하하하
    </a>
    <a href="#">
        에그인헬
    </a>
    <a href="#">
        매운요리
    </a>
    <a href="#">
        파스타소스
    </a>
</div>
<div class="k_comment_wrap" th:fragment="comment">
    <div class="total">
        <h4>댓글 </h4>
        <span>0</span>
    </div>
    <div class="com_login">
        <div class="profile">
            <img src="/images/common/profile.png" alt="">
        </div>
        <div class="loginFirst">
            <a href="#">로그인</a>
            하시고 댓글을 남겨보세요.
        </div>
    </div>
    <div class="com_box">
        <div class="profile">
            <img src="/images/common/profile.png" alt="">
        </div>
        <div class="cmt">
            <div class="name">
                <p>yoon's table</p>
                <span class="date">2024-11-08 21:29</span>
            </div>
            <div class="text">
                건강하고 간편하게 먹기 딱인걸요!

                <!-- <form>
                  <div class="txtArea">
                    <textarea id="txtBox" name="content" placeholder="내용을 입력하세요.">단백질 가득 너무 맛나겠어요!</textarea>
                  </div>
                </form> -->
            </div>
        </div>
    </div>
    <div class="com_blank">
        <p>여러분의 댓글을 기다리고 있어요 :)</p>
    </div>
</div>
<section class="S_tagList" th:fragment="tagList">
    <div class="inner">
        <div class="s_titwrap">
            <h4 class="s_tit">이 글이 마음에 드셨다면😍</h4>
            <div class="k_arrowbtn">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="img_wrap">
                                <img src="/images/mainpage3.jpg" alt="">
                            </div>
                            <div class="s_text_wrap">
                                <h4>산뜻고소 참치마카로니샐러드</h4>
                                <p>산뜻한 채소와 쫀득한 참치, 마카로니로 색다르게!</p>
                            </div>
                            <ul class="s_time_wrap">
                                <li>
                                    <span>준비시간</span> 25분
                                </li>
                                <li>
                                    <span>조리시간</span> 5분
                                </li>
                            </ul>
                        </a>
                        <div class="scrap">스크랩</div>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="img_wrap">
                                <img src="/images/mainpage4.jpg" alt="">
                            </div>
                            <div class="s_text_wrap">
                                <h4>산뜻고소 참치마카로니샐러드</h4>
                                <p>산뜻한 채소와 쫀득한 참치, 마카로니로 색다르게!</p>
                            </div>
                            <ul class="s_time_wrap">
                                <li>
                                    <span>준비시간</span> 25분
                                </li>
                                <li>
                                    <span>조리시간</span> 5분
                                </li>
                            </ul>
                        </a>
                        <div class="scrap">스크랩</div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="img_wrap">
                                <img src="/images/mainpage3.jpg" alt="">
                            </div>
                            <div class="s_text_wrap">
                                <h4>산뜻고소 참치마카로니샐러드</h4>
                                <p>산뜻한 채소와 쫀득한 참치, 마카로니로 색다르게!</p>
                            </div>
                            <ul class="s_time_wrap">
                                <li>
                                    <span>준비시간</span> 25분
                                </li>
                                <li>
                                    <span>조리시간</span> 5분
                                </li>
                            </ul>
                        </a>
                        <div class="scrap">스크랩</div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="img_wrap">
                                <img src="/images/mainpage4.jpg" alt="">
                            </div>
                            <div class="s_text_wrap">
                                <h4>산뜻고소 참치마카로니샐러드</h4>
                                <p>산뜻한 채소와 쫀득한 참치, 마카로니로 색다르게!</p>
                            </div>
                            <ul class="s_time_wrap">
                                <li>
                                    <span>준비시간</span> 25분
                                </li>
                                <li>
                                    <span>조리시간</span> 5분
                                </li>
                            </ul>
                        </a>
                        <div class="scrap">스크랩</div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="img_wrap">
                                <img src="/images/mainpage3.jpg" alt="">
                            </div>
                            <div class="s_text_wrap">
                                <h4>산뜻고소 참치마카로니샐러드</h4>
                                <p>산뜻한 채소와 쫀득한 참치, 마카로니로 색다르게!</p>
                            </div>
                            <ul class="s_time_wrap">
                                <li>
                                    <span>준비시간</span> 25분
                                </li>
                                <li>
                                    <span>조리시간</span> 5분
                                </li>
                            </ul>
                        </a>
                        <div class="scrap">스크랩</div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="img_wrap">
                                <img src="/images/mainpage4.jpg" alt="">
                            </div>
                            <div class="s_text_wrap">
                                <h4>산뜻고소 참치마카로니샐러드</h4>
                                <p>산뜻한 채소와 쫀득한 참치, 마카로니로 색다르게!</p>
                            </div>
                            <ul class="s_time_wrap">
                                <li>
                                    <span>준비시간</span> 25분
                                </li>
                                <li>
                                    <span>조리시간</span> 5분
                                </li>
                            </ul>
                        </a>
                        <div class="scrap">스크랩</div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="img_wrap">
                                <img src="/images/mainpage3.jpg" alt="">
                            </div>
                            <div class="s_text_wrap">
                                <h4>산뜻고소 참치마카로니샐러드</h4>
                                <p>산뜻한 채소와 쫀득한 참치, 마카로니로 색다르게!</p>
                            </div>
                            <ul class="s_time_wrap">
                                <li>
                                    <span>준비시간</span> 25분
                                </li>
                                <li>
                                    <span>조리시간</span> 5분
                                </li>
                            </ul>
                        </a>
                        <div class="scrap">스크랩</div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="img_wrap">
                                <img src="/images/mainpage4.jpg" alt="">
                            </div>
                            <div class="s_text_wrap">
                                <h4>산뜻고소 참치마카로니샐러드</h4>
                                <p>산뜻한 채소와 쫀득한 참치, 마카로니로 색다르게!</p>
                            </div>
                            <ul class="s_time_wrap">
                                <li>
                                    <span>준비시간</span> 25분
                                </li>
                                <li>
                                    <span>조리시간</span> 5분
                                </li>
                            </ul>
                        </a>
                        <div class="scrap">스크랩</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="back_wrap" th:fragment="sol_list">
    <div class="inner">
        <div class="btn_box">
            <a href="/recipeLab/solution" class="list_back">목록으로</a>
        </div>
    </div>
</section>

<div class="board_pagination_wrap" th:fragment="pagination">
    <div class="board_pagination">
        <th:block th:utext="${paging}"></th:block>
    </div>
</div>
<div class="progress" th:fragment="scroll">
    <div class="bar"></div>
</div>

<div class="c_tit_wrap" th:fragment="cook_tit">
    <h3 class="c_tit">
                    <span class="point">
                        yoon's table님
                    </span>
        의 다른 글도 살펴보세요
    </h3>
    <div class="k_arrowbtn">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="#">
                    <div class="img_wrap">
                        <img src="/images/mainpage3.jpg" alt="">
                    </div>
                    <div class="s_text_wrap">
                        <h4>산뜻고소 참치마카로니샐러드</h4>
                        <p>산뜻한 채소와 쫀득한 참치, 마카로니로 색다르게!</p>
                    </div>
                    <ul class="s_time_wrap">
                        <li>
                            <span>준비시간</span> 25분
                        </li>
                        <li>
                            <span>조리시간</span> 5분
                        </li>
                    </ul>
                </a>
                <div class="scrap">스크랩</div>
            </div>
            <div class="swiper-slide">
                <a href="#">
                    <div class="img_wrap">
                        <img src="/images/mainpage4.jpg" alt="">
                    </div>
                    <div class="s_text_wrap">
                        <h4>산뜻고소 참치마카로니샐러드</h4>
                        <p>산뜻한 채소와 쫀득한 참치, 마카로니로 색다르게!</p>
                    </div>
                    <ul class="s_time_wrap">
                        <li>
                            <span>준비시간</span> 25분
                        </li>
                        <li>
                            <span>조리시간</span> 5분
                        </li>
                    </ul>
                </a>
                <div class="scrap">스크랩</div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#">
                    <div class="img_wrap">
                        <img src="/images/mainpage3.jpg" alt="">
                    </div>
                    <div class="s_text_wrap">
                        <h4>산뜻고소 참치마카로니샐러드</h4>
                        <p>산뜻한 채소와 쫀득한 참치, 마카로니로 색다르게!</p>
                    </div>
                    <ul class="s_time_wrap">
                        <li>
                            <span>준비시간</span> 25분
                        </li>
                        <li>
                            <span>조리시간</span> 5분
                        </li>
                    </ul>
                </a>
                <div class="scrap">스크랩</div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#">
                    <div class="img_wrap">
                        <img src="/images/mainpage4.jpg" alt="">
                    </div>
                    <div class="s_text_wrap">
                        <h4>산뜻고소 참치마카로니샐러드</h4>
                        <p>산뜻한 채소와 쫀득한 참치, 마카로니로 색다르게!</p>
                    </div>
                    <ul class="s_time_wrap">
                        <li>
                            <span>준비시간</span> 25분
                        </li>
                        <li>
                            <span>조리시간</span> 5분
                        </li>
                    </ul>
                </a>
                <div class="scrap">스크랩</div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#">
                    <div class="img_wrap">
                        <img src="/images/mainpage3.jpg" alt="">
                    </div>
                    <div class="s_text_wrap">
                        <h4>산뜻고소 참치마카로니샐러드</h4>
                        <p>산뜻한 채소와 쫀득한 참치, 마카로니로 색다르게!</p>
                    </div>
                    <ul class="s_time_wrap">
                        <li>
                            <span>준비시간</span> 25분
                        </li>
                        <li>
                            <span>조리시간</span> 5분
                        </li>
                    </ul>
                </a>
                <div class="scrap">스크랩</div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#">
                    <div class="img_wrap">
                        <img src="/images/mainpage4.jpg" alt="">
                    </div>
                    <div class="s_text_wrap">
                        <h4>산뜻고소 참치마카로니샐러드</h4>
                        <p>산뜻한 채소와 쫀득한 참치, 마카로니로 색다르게!</p>
                    </div>
                    <ul class="s_time_wrap">
                        <li>
                            <span>준비시간</span> 25분
                        </li>
                        <li>
                            <span>조리시간</span> 5분
                        </li>
                    </ul>
                </a>
                <div class="scrap">스크랩</div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#">
                    <div class="img_wrap">
                        <img src="/images/mainpage3.jpg" alt="">
                    </div>
                    <div class="s_text_wrap">
                        <h4>산뜻고소 참치마카로니샐러드</h4>
                        <p>산뜻한 채소와 쫀득한 참치, 마카로니로 색다르게!</p>
                    </div>
                    <ul class="s_time_wrap">
                        <li>
                            <span>준비시간</span> 25분
                        </li>
                        <li>
                            <span>조리시간</span> 5분
                        </li>
                    </ul>
                </a>
                <div class="scrap">스크랩</div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#">
                    <div class="img_wrap">
                        <img src="/images/mainpage4.jpg" alt="">
                    </div>
                    <div class="s_text_wrap">
                        <h4>산뜻고소 참치마카로니샐러드</h4>
                        <p>산뜻한 채소와 쫀득한 참치, 마카로니로 색다르게!</p>
                    </div>
                    <ul class="s_time_wrap">
                        <li>
                            <span>준비시간</span> 25분
                        </li>
                        <li>
                            <span>조리시간</span> 5분
                        </li>
                    </ul>
                </a>
                <div class="scrap">스크랩</div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="share_control" th:fragment="shareControl">
    <button type="button" class="scrap"><i></i><span>스크랩</span></button>
    <div class="share_wrap">
        <button type="button" class="share"><i></i><span>공유하기</span></button>
        <ul class="share_btn">
            <li class="close">
                <span>공유</span>
                <button type="button">X</button>
            </li>
            <li>
                <a href="#" class="share_kakao_btn">
                    <img src="/images/common/ic_kakao2.png" alt="카카오">
                    <span>카카오톡</span>
                </a>
            </li>
            <li>
                <a href="#" class="copy_clip_btn">
                    <img src="/images/common/ic_url.png" alt="카카오">
                    <span>URL복사</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<svg
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns="http://www.w3.org/2000/svg"
        class="svg"
        aria-hidden="true"
        width="15"
        height="15"

        th:fragment="svg"
>
    <defs>
        <symbol id="icon-checked" viewBox="0 0 15 15">
            <path d="M14.5 3.29L6.9 13 1.5 7l1.62-1.29 3.64 4L13 2z"></path>
        </symbol>
    </defs>
</svg>
</body>
</html>