<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="detail_right" th:fragment="scrap">
    <button type="button" class="scrap">스크랩</button>
    <div class="share_wrap">
        <button type="button" class="share">공유하기</button>
        <ul class="share_btn">
            <li class="close">
                <span>공유</span>
                <button type="button">X</button>
            </li>
            <li>
                <a href="#" class="share_kakao_btn">
                    <img src="/images/common/ic_kakao2.png" alt="카카오">
                    <span>카카오톡</span>
                </a>
            </li>
            <li>
                <a href="#" class="copy_clip_btn">
                    <img src="/images/common/ic_url.png" alt="카카오">
                    <span>URL복사</span>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>