<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{/common/config :: config}">
    <meta charset="UTF-8">
    <title>새미네 부엌</title>
</head>
<body>
    <div id="skip_navi">
        <a href="#container">본문바로가기</a>
    </div>

    <th:block th:replace="~{/common/header :: header}"></th:block>

    <th:block layout:fragment="content"></th:block>

    <th:block th:replace="~{/common/footer :: footer}"></th:block>
</body>
</html>