<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}"
      layout:fragment="content">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main id="container" class="main_container">
    <!-- 요리초보가이드 -->
    <section class="main_slider">
        <div class="inner">
            <div class="main_guide">
                <div class="swiper_wrap">
                    <div class="swiper_title">
                        <div class="swiper_txt">
                            <img src="/images/il_samie_1.png" alt="">
                            <p>추천드려요!</p>
                        </div>
                        <h2>요리초보<br>가이드</h2>
                        <button type="button" class="button">가이드 더보기</button>
                        <div class="all-box">
                            <div class="progress-box">
                                <span class="current-num"></span>
                                <span class="mb_dott"> · </span>
                                <div class="swiper-pagination swiper-pagination-progressbar swiper-pagination-horizontal">
                                    <span class="swiper-pagination-progressbar-fill"></span>
                                </div>
                                <button type="button" class="pause">
                                    <span class="blind">일시정지</span>
                                </button>
                                <span class="all-num"></span>
                            </div>
                        </div>
                    </div>
                    <div class="guide_wrap">
                        <div class="guide">
                            <div class="guide_head">
                                <div class="guide_title">
                                    <h3>
                                        <img src="/images/il_samie_1-1.svg" alt="">
                                        요리초보가이드
                                    </h3>
                                    <a href="#" class="guidebtn">
                                        전체보기
                                        <img src="/images/common/ic_right.png" alt="">
                                    </a>
                                </div>
                                <button type="button" class="closebtn">
                                    <span class="blind">닫기</span>
                                </button>
                            </div>
                            <div class="guide_body">
                                <div class="guide_cont">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <div class="img_wrap">
                                                    <img src="/images/mainpage1.jpg" alt="">
                                                    <span class="more">8</span>
                                                </div>
                                                <div class="txt_wrap">
                                                    <p>식비 지출 막는 요리법</p>
                                                    <span>치솟는 물가, 식비 절약을 위한 방법<br>요리초보도, 고수도 모두 집중!</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="img_wrap">
                                                    <img src="/images/mainpage2.jpg" alt="">
                                                    <span class="more">8</span>
                                                </div>
                                                <div class="txt_wrap">
                                                    <p>냉장고를 열었더니 <br> 남은 '무'가 있다.</p>
                                                    <span>커다란 '무' 하나 사면,<br>다 먹지 못하고 버리게 되는 분, 손!</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="img_wrap">
                                                    <img src="/images/mainpage1.jpg" alt="">
                                                    <span class="more">8</span>
                                                </div>
                                                <div class="txt_wrap">
                                                    <p>식비 지출 막는 요리법</p>
                                                    <span>치솟는 물가, 식비 절약을 위한 방법<br>요리초보도, 고수도 모두 집중!</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="img_wrap">
                                                    <img src="/images/mainpage2.jpg" alt="">
                                                    <span class="more">8</span>
                                                </div>
                                                <div class="txt_wrap">
                                                    <p>냉장고를 열었더니 <br> 남은 '무'가 있다.</p>
                                                    <span>커다란 '무' 하나 사면,<br>다 먹지 못하고 버리게 되는 분, 손!</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="img_wrap">
                                                    <img src="/images/mainpage1.jpg" alt="">
                                                    <span class="more">8</span>
                                                </div>
                                                <div class="txt_wrap">
                                                    <p>식비 지출 막는 요리법</p>
                                                    <span>치솟는 물가, 식비 절약을 위한 방법<br>요리초보도, 고수도 모두 집중!</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="img_wrap">
                                                    <img src="/images/mainpage2.jpg" alt="">
                                                    <span class="more">8</span>
                                                </div>
                                                <div class="txt_wrap">
                                                    <p>냉장고를 열었더니 <br> 남은 '무'가 있다.</p>
                                                    <span>커다란 '무' 하나 사면,<br>다 먹지 못하고 버리게 되는 분, 손!</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#">
                                    <div class="wrap">
                                        <img src="/images/mainpage1.jpg" alt="" class="wrap_img">
                                        <div class="scrap">스크랩</div>
                                        <h2>식비 지출 막는 요리법</h2>
                                        <div class="txt_bt">
                                            <p>8</p>
                                            <div class="arrow"></div>
                                        </div>
                                        <ul class="thumb">
                                            <li>
                                                <img src="/images/mainpage1.jpg" alt="">
                                            </li>
                                            <li>
                                                <img src="/images/mainpage1.jpg" alt="">
                                            </li>
                                            <li>
                                                <img src="/images/mainpage1.jpg" alt="">
                                                <p class="more_num">6</p>
                                            </li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <div class="wrap">
                                        <img src="/images/mainpage2.jpg" alt="">
                                        <div class="scrap">스크랩</div>
                                        <h2>냉장고를 열었더니 <br> 남은 '무'가 있다.</h2>
                                        <div class="txt_bt">
                                            <p>8</p>
                                            <div class="arrow"></div>
                                        </div>
                                        <ul class="thumb">
                                            <li>
                                                <img src="/images/mainpage2.jpg" alt="">
                                            </li>
                                            <li>
                                                <img src="/images/mainpage2.jpg" alt="">
                                            </li>
                                            <li>
                                                <img src="/images/mainpage2.jpg" alt="">
                                                <p class="more_num">6</p>
                                            </li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <div class="wrap">
                                        <img src="/images/mainpage1.jpg" alt="">
                                        <div class="scrap">스크랩</div>
                                        <h2>식비 지출 막는 요리법</h2>
                                        <div class="txt_bt">
                                            <p>8</p>
                                            <div class="arrow"></div>
                                        </div>
                                        <ul class="thumb">
                                            <li>
                                                <img src="/images/mainpage1.jpg" alt="">
                                            </li>
                                            <li>
                                                <img src="/images/mainpage1.jpg" alt="">
                                            </li>
                                            <li>
                                                <img src="/images/mainpage1.jpg" alt="">
                                                <p class="more_num">6</p>
                                            </li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <div class="wrap">
                                        <img src="/images/mainpage2.jpg" alt="">
                                        <div class="scrap">스크랩</div>
                                        <h2>냉장고를 열었더니 <br> 남은 '무'가 있다.</h2>
                                        <div class="txt_bt">
                                            <p>8</p>
                                            <div class="arrow"></div>
                                        </div>
                                        <ul class="thumb">
                                            <li>
                                                <img src="/images/mainpage2.jpg" alt="">
                                            </li>
                                            <li>
                                                <img src="/images/mainpage2.jpg" alt="">
                                            </li>
                                            <li>
                                                <img src="/images/mainpage2.jpg" alt="">
                                                <p class="more_num">6</p>
                                            </li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <div class="wrap">
                                        <img src="/images/mainpage1.jpg" alt="">
                                        <div class="scrap">스크랩</div>
                                        <h2>식비 지출 막는 요리법</h2>
                                        <div class="txt_bt">
                                            <p>8</p>
                                            <div class="arrow"></div>
                                        </div>
                                        <ul class="thumb">
                                            <li>
                                                <img src="/images/mainpage1.jpg" alt="">
                                            </li>
                                            <li>
                                                <img src="/images/mainpage1.jpg" alt="">
                                            </li>
                                            <li>
                                                <img src="/images/mainpage1.jpg" alt="">
                                                <p class="more_num">6</p>
                                            </li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <div class="wrap">
                                        <img src="/images/mainpage2.jpg" alt="">
                                        <div class="scrap">스크랩</div>
                                        <h2>냉장고를 열었더니 <br> 남은 '무'가 있다.</h2>
                                        <div class="txt_bt">
                                            <p>8</p>
                                            <div class="arrow"></div>
                                        </div>
                                        <ul class="thumb">
                                            <li>
                                                <img src="/images/mainpage2.jpg" alt="">
                                            </li>
                                            <li>
                                                <img src="/images/mainpage2.jpg" alt="">
                                            </li>
                                            <li>
                                                <img src="/images/mainpage2.jpg" alt="">
                                                <p class="more_num">6</p>
                                            </li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 요리연구소 -->
    <div th:replace="~{/fragments :: mainlab(${list})}"></div>
<!--    <section class="main_lab">-->
<!--        <div class="inner">-->
<!--            <div class="swiper_wrap">-->
<!--                <div class="swiper_title">-->
<!--                    <div class="swiper_txt">-->
<!--                        <div class="title_top">-->
<!--                            <h3>요리연구소</h3>-->
<!--                            <button type="button" class="btn" onclick="">더보기</button>-->
<!--                        </div>-->
<!--                        <div class="filter">-->
<!--                            <ul>-->
<!--                                <li class="li on">-->
<!--                                    <a href="#">전체</a>-->
<!--                                </li>-->
<!--                                <li class="li">-->
<!--                                    <a href="#">레시피</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#">솔루션</a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="swiper">-->
<!--                    <div class="swiper-wrapper">-->
<!--                        <div class="swiper-slide">-->
<!--                            <a href="#">-->
<!--                                <div class="img_wrap">-->
<!--                                    <img src="/images/mainpage3.jpg" alt="">-->
<!--                                </div>-->
<!--                                <div class="scrap">스크랩</div>-->
<!--                                <div class="txt_wrap">-->
<!--                                    <span class="label or">솔루션</span>-->
<!--                                    <em>새우 고르기 & 손질하기</em>-->
<!--                                    <p>새우, 어떻게 고르고 어떻게 손질하면 좋을까?</p>-->
<!--                                    <ul>-->
<!--                                        <li class="txt">해물</li>-->
<!--                                        <li class="txt">재료손질</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="swiper-slide">-->
<!--                            <a href="#">-->
<!--                                <div class="img_wrap">-->
<!--                                    <img src="/images/mainpage4.jpg" alt="">-->
<!--                                </div>-->
<!--                                <div class="scrap">스크랩</div>-->
<!--                                <div class="txt_wrap">-->
<!--                                    <span class="label">레시피</span>-->
<!--                                    <em>부들쫀떡 감자호떡</em>-->
<!--                                    <p>으깬 감자에 찹쌀과 전분넣어 부드럽고 쫀득하게</p>-->
<!--                                    <ul>-->
<!--                                        <li class="time">준비시간<span></span>10분</li>-->
<!--                                        <li class="time">조리시간<span></span>15분</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="swiper-slide">-->
<!--                            <a href="#">-->
<!--                                <div class="img_wrap">-->
<!--                                    <img src="/images/mainpage3.jpg" alt="">-->
<!--                                </div>-->
<!--                                <div class="scrap">스크랩</div>-->
<!--                                <div class="txt_wrap">-->
<!--                                    <span class="label or">솔루션</span>-->
<!--                                    <em>새우 고르기 & 손질하기</em>-->
<!--                                    <p>새우, 어떻게 고르고 어떻게 손질하면 좋을까?</p>-->
<!--                                    <ul>-->
<!--                                        <li class="txt">해물</li>-->
<!--                                        <li class="txt">재료손질</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="swiper-slide">-->
<!--                            <a href="#">-->
<!--                                <div class="img_wrap">-->
<!--                                    <img src="/images/mainpage4.jpg" alt="">-->
<!--                                </div>-->
<!--                                <div class="scrap">스크랩</div>-->
<!--                                <div class="txt_wrap">-->
<!--                                    <span class="label">레시피</span>-->
<!--                                    <em>부들쫀떡 감자호떡</em>-->
<!--                                    <p>으깬 감자에 찹쌀과 전분넣어 부드럽고 쫀득하게</p>-->
<!--                                    <ul>-->
<!--                                        <li class="time">준비시간<span></span>10분</li>-->
<!--                                        <li class="time">조리시간<span></span>15분</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="swiper-slide">-->
<!--                            <a href="#">-->
<!--                                <div class="img_wrap">-->
<!--                                    <img src="/images/mainpage3.jpg" alt="">-->
<!--                                </div>-->
<!--                                <div class="scrap">스크랩</div>-->
<!--                                <div class="txt_wrap">-->
<!--                                    <span class="label or">솔루션</span>-->
<!--                                    <em>새우 고르기 & 손질하기</em>-->
<!--                                    <p>새우, 어떻게 고르고 어떻게 손질하면 좋을까?</p>-->
<!--                                    <ul>-->
<!--                                        <li class="txt">해물</li>-->
<!--                                        <li class="txt">재료손질</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="swiper-slide">-->
<!--                            <a href="#">-->
<!--                                <div class="img_wrap">-->
<!--                                    <img src="/images/mainpage4.jpg" alt="">-->
<!--                                </div>-->
<!--                                <div class="scrap">스크랩</div>-->
<!--                                <div class="txt_wrap">-->
<!--                                    <span class="label">레시피</span>-->
<!--                                    <em>부들쫀떡 감자호떡</em>-->
<!--                                    <p>으깬 감자에 찹쌀과 전분넣어 부드럽고 쫀득하게</p>-->
<!--                                    <ul>-->
<!--                                        <li class="time">준비시간<span></span>10분</li>-->
<!--                                        <li class="time">조리시간<span></span>15분</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="swiper-slide">-->
<!--                            <a href="#">-->
<!--                                <div class="img_wrap">-->
<!--                                    <img src="/images/mainpage3.jpg" alt="">-->
<!--                                </div>-->
<!--                                <div class="scrap">스크랩</div>-->
<!--                                <div class="txt_wrap">-->
<!--                                    <span class="label or">솔루션</span>-->
<!--                                    <em>새우 고르기 & 손질하기</em>-->
<!--                                    <p>새우, 어떻게 고르고 어떻게 손질하면 좋을까?</p>-->
<!--                                    <ul>-->
<!--                                        <li class="txt">해물</li>-->
<!--                                        <li class="txt">재료손질</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="swiper-slide">-->
<!--                            <a href="#">-->
<!--                                <div class="img_wrap">-->
<!--                                    <img src="/images/mainpage4.jpg" alt="">-->
<!--                                </div>-->
<!--                                <div class="scrap">스크랩</div>-->
<!--                                <div class="txt_wrap">-->
<!--                                    <span class="label">레시피</span>-->
<!--                                    <em>부들쫀떡 감자호떡</em>-->
<!--                                    <p>으깬 감자에 찹쌀과 전분넣어 부드럽고 쫀득하게</p>-->
<!--                                    <ul>-->
<!--                                        <li class="time">준비시간<span></span>10분</li>-->
<!--                                        <li class="time">조리시간<span></span>15분</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="arrow-box">-->
<!--                        <div class="swiper-button-prev"></div>-->
<!--                        <div class="swiper-button-next"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
    <!-- 요리해요 -->
    <section class="main_cook">
        <div class="inner">
            <div class="swiper_wrap">
                <div class="swiper_title">
                    <div class="swiper_txt">
                        <h4>요리해요</h4>
                        <button type="button" class="btn">더보기</button>
                    </div>
                </div>
                <div class="swiper_bg">
                    <img src="/images/main_cook.png" alt="">
                    <div class="swiper">
                        <div class="swiper-container left">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="img_wrap">
                                        <img src="/images/mainpage5.jpg" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="img_wrap">
                                        <img src="/images/mainpage6.jpg" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="img_wrap">
                                        <img src="/images/mainpage5.jpg" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="img_wrap">
                                        <img src="/images/mainpage6.jpg" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="img_wrap">
                                        <img src="/images/mainpage5.jpg" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="img_wrap">
                                        <img src="/images/mainpage6.jpg" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="img_wrap">
                                        <img src="/images/mainpage5.jpg" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="img_wrap">
                                        <img src="/images/mainpage6.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-container middle">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide on">
                                    <div class="cook_wrap">
                                        <a href="#">
                                            <div class="txt_top">
                                                <em>양배추 참치 냉라면 샐러드</em>
                                                <p>이은경<span></span>2024.12.01 00:05</p>
                                            </div>
                                            <div class="img_wrap">
                                                <img src="/images/mainpage5.jpg" alt="">
                                            </div>
                                            <div class="txt_bt">
                                                양배추와 큐브참치, 냉라면을 만드는 샐러드
                                                브런치로도 좋고 야식으로 좋아요. 가벼운 한끼 식사로도 좋아요
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="cook_wrap">
                                        <a href="#">
                                            <div class="txt_top">
                                                <em>된장찌개</em>
                                                <p>요리가좋아<span></span>2024.12.01 10:31</p>
                                            </div>
                                            <div class="img_wrap">
                                                <img src="/images/mainpage6.jpg" alt="">
                                            </div>
                                            <div class="txt_bt">
                                                장트리오를 주재료를 선택후,저의 요리는 샘표 토장을 사용하여 된장찌개 끓였답니다.재료를 준비(호박, 양파, 두부, 대파를 썰고)하고, 냄비에 샘표토장을 소고기기름에 볶다가, 표고버섯 우린물로 넣고, 끓이다가 준비한 재료를 호박, 양파를 먼저 넣고 호박과 양파가 익을즈음 두부와 대파를 넣었어요. 온 가족 맛있게 저녁식사했습니다^^
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="cook_wrap">
                                        <a href="#">
                                            <div class="txt_top">
                                                <em>양배추 참치 냉라면 샐러드</em>
                                                <p>이은경<span></span>2024.12.01 00:05</p>
                                            </div>
                                            <div class="img_wrap">
                                                <img src="/images/mainpage5.jpg" alt="">
                                            </div>
                                            <div class="txt_bt">
                                                양배추와 큐브참치, 냉라면을 만드는 샐러드
                                                브런치로도 좋고 야식으로 좋아요. 가벼운 한끼 식사로도 좋아요
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="cook_wrap">
                                        <a href="#">
                                            <div class="txt_top">
                                                <em>된장찌개</em>
                                                <p>요리가좋아<span></span>2024.12.01 10:31</p>
                                            </div>
                                            <div class="img_wrap">
                                                <img src="/images/mainpage6.jpg" alt="">
                                            </div>
                                            <div class="txt_bt">
                                                장트리오를 주재료를 선택후,저의 요리는 샘표 토장을 사용하여 된장찌개 끓였답니다.재료를 준비(호박, 양파, 두부, 대파를 썰고)하고, 냄비에 샘표토장을 소고기기름에 볶다가, 표고버섯 우린물로 넣고, 끓이다가 준비한 재료를 호박, 양파를 먼저 넣고 호박과 양파가 익을즈음 두부와 대파를 넣었어요. 온 가족 맛있게 저녁식사했습니다^^
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="cook_wrap">
                                        <a href="#">
                                            <div class="txt_top">
                                                <em>양배추 참치 냉라면 샐러드</em>
                                                <p>이은경<span></span>2024.12.01 00:05</p>
                                            </div>
                                            <div class="img_wrap">
                                                <img src="/images/mainpage5.jpg" alt="">
                                            </div>
                                            <div class="txt_bt">
                                                양배추와 큐브참치, 냉라면을 만드는 샐러드
                                                브런치로도 좋고 야식으로 좋아요. 가벼운 한끼 식사로도 좋아요
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="cook_wrap">
                                        <a href="#">
                                            <div class="txt_top">
                                                <em>된장찌개</em>
                                                <p>요리가좋아<span></span>2024.12.01 10:31</p>
                                            </div>
                                            <div class="img_wrap">
                                                <img src="/images/mainpage6.jpg" alt="">
                                            </div>
                                            <div class="txt_bt">
                                                장트리오를 주재료를 선택후,저의 요리는 샘표 토장을 사용하여 된장찌개 끓였답니다.재료를 준비(호박, 양파, 두부, 대파를 썰고)하고, 냄비에 샘표토장을 소고기기름에 볶다가, 표고버섯 우린물로 넣고, 끓이다가 준비한 재료를 호박, 양파를 먼저 넣고 호박과 양파가 익을즈음 두부와 대파를 넣었어요. 온 가족 맛있게 저녁식사했습니다^^
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="cook_wrap">
                                        <a href="#">
                                            <div class="txt_top">
                                                <em>양배추 참치 냉라면 샐러드</em>
                                                <p>이은경<span></span>2024.12.01 00:05</p>
                                            </div>
                                            <div class="img_wrap">
                                                <img src="/images/mainpage5.jpg" alt="">
                                            </div>
                                            <div class="txt_bt">
                                                양배추와 큐브참치, 냉라면을 만드는 샐러드
                                                브런치로도 좋고 야식으로 좋아요. 가벼운 한끼 식사로도 좋아요
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="cook_wrap">
                                        <a href="#">
                                            <div class="txt_top">
                                                <em>된장찌개</em>
                                                <p>요리가좋아<span></span>2024.12.01 10:31</p>
                                            </div>
                                            <div class="img_wrap">
                                                <img src="/images/mainpage6.jpg" alt="">
                                            </div>
                                            <div class="txt_bt">
                                                장트리오를 주재료를 선택후,저의 요리는 샘표 토장을 사용하여 된장찌개 끓였답니다.재료를 준비(호박, 양파, 두부, 대파를 썰고)하고, 냄비에 샘표토장을 소고기기름에 볶다가, 표고버섯 우린물로 넣고, 끓이다가 준비한 재료를 호박, 양파를 먼저 넣고 호박과 양파가 익을즈음 두부와 대파를 넣었어요. 온 가족 맛있게 저녁식사했습니다^^
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-container right">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="img_wrap">
                                        <img src="/images/mainpage6.jpg" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="img_wrap">
                                        <img src="/images/mainpage5.jpg" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="img_wrap">
                                        <img src="/images/mainpage6.jpg" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="img_wrap">
                                        <img src="/images/mainpage5.jpg" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="img_wrap">
                                        <img src="/images/mainpage6.jpg" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="img_wrap">
                                        <img src="/images/mainpage5.jpg" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="img_wrap">
                                        <img src="/images/mainpage6.jpg" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="img_wrap">
                                        <img src="/images/mainpage5.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="arrow-box">
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
                <div class="write_wrap">
                    <img src="/images/il_samie_2.png" alt="">
                    <div class="writebtn_wrap">
                        <p>나만의 요리를 올려주세요!</p>
                        <a href="#">
                            작성하기
                            <img class="write_img" src="/images/common/ic_write.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 이벤트 -->
    <section class="main_bnlist">
        <div class="inner">
            <div class="swiper_wrap">
                <div class="swiper_title">
                    <div class="swiper_txt">
                        <img src="/images/il_txt.png" alt="">
                        <p>이벤트</p>
                    </div>
                    <button type="button" class="btn" onclick="">더보기</button>
                </div>
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="/images/mainbanner1.jpg" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="/images/mainbanner1.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="btn_wrap">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-pagination">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>
