<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}"
      layout:fragment="content">
<head layout:fragment="config">
  <title>Search</title>
  <link rel="stylesheet" href="/css/search.css">
</head>
<body>
<main id="container_search">
  <section class="main_search">
    <div class="inner">
      <form id="sFrm" method="POST" onsubmit="return false;">
        <fieldset>
          <legend>게시물 검색</legend>
          <div class="search-box">
            <input type="hidden" name="t" value="">
            <div class="select">
              <p>전체</p>
              <ul>
                <li class="" data-type="a"><a href="javascript:void(0)">전체</a></li>
                <li class="" data-type="t"><a href="javascript:void(0)">제목&amp;내용만</a></li>
                <li class="" data-type="m"><a href="javascript:void(0)">재료만</a></li>
                <li class="" data-type="h"><a href="javascript:void(0)">해시태그만</a></li>
              </ul>
            </div>
            <div class="search">
              <input type="text" name="q" value="" placeholder="어떤 요리가 궁금하신가요?">
              <button id="btnSearch" type="button">검색</button>
            </div>
          </div>
        </fieldset>
      </form>
      <div class="keyword">
        <p>추천검색어</p>
        <div class="key_list">
          <a href="#">스테이크</a>
          <a href="#">삶은 달걀</a>
          <a href="#">재료보관</a>
          <a href="#">무</a>
          <a href="#">요리칼럼</a>
        </div>
      </div>
      <div class="result">
        <p>어떤 요리가 궁금하신가요?</p>
        <em>요리명, 재료명으로 검색해 보세요</em>
      </div>
    </div>
  </section>
  <section class="sr_guide">
    <div class="inner">
      <div class="tit">
        <h3>최근 이런 콘텐츠가 올라왔어요!</h3>
      </div>
      <div class="guide_wrap">
        <ul>
          <li th:each="guide : ${list}">
            <a th:href="@{'/guide/guide_archive/' + ${guide.guide_id}}">
              <ul class="thumb">
                <li th:if="${guide.files != null}"
                    th:each="item : ${#strings.setSplit(guide.files, ',')}"
                >
                  <img th:src="@{'/images/' + ${item}}" alt="이미지">
                  <p class="more_detail">자세히 보기</p>
                </li>
              </ul>
              <div class="picture">
                <img th:src="${'/images/' + guide.poster}" alt="이미지">
                <p th:utext="${guide.guide_name}">
                </p>
                <span class="num">8</span>
                <div class="guide_tip" th:utext="${guide.guide_desc}">
                </div>
              </div>
            </a>
            <button class="scrap" type="button">스크랩</button>
        </ul>
      </div>
    </div>
  </section>
  <section class="sr_recipe">
    <div class="inner">
      <div class="tag_wrap">
        <ul class="rep_area">
          <li class="rep_item" th:each="lab : ${list1}">
            <a href="/recipeLab/archive_rep">
              <div class="img_wrap">
                <img th:src="${'/images/' + lab.poster}" th:alt="${lab.lab_name}">
              </div>
              <div class="txt_wrap">
                <h4 th:utext="${lab.lab_name_desc}"></h4>
                <p th:utext="${lab.desc_detail}"></p>
              </div>
            </a>
            <ul class="time_wrap">
              <li>
                <span>준비시간</span>
                <span th:with="txt=${lab.preparation != null ? lab.preparation : '0'}" th:text="${txt + '분'}"></span>
              </li>
              <li>
                <span>조리시간</span>
                <span th:with="txt=${lab.cookingtime != null ? lab.cookingtime : '0'}" th:text="${txt + '분'}"></span>
              </li>
            </ul>
            <div class="scrap">스크랩</div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="sr_sol">
    <div class="inner">
      <ul class="sol_area">
        <li class="sol_item" th:each="sol : ${list2}">
          <a th:href="@{'/recipeLab/archive_sol/' + ${sol.solution_id}}">
            <div class="img_wrap">
              <img th:src="${'/images/' + sol.poster}" alt="">
            </div>
            <div class="txt_wrap">
              <h4 th:text="${sol.solution_name}"></h4>
              <p th:text="${sol.solution_desc}"></p>
            </div>
          </a>
          <ul class="hash_wrap" th:each="hash : ${sol.hashnames}">
            <li th:each="ha : ${#strings.setSplit(sol.hashnames,',')}" th:text="${ha}"></li>
          </ul>
          <a href="#" class="scrap">스크랩</a>
        </li>
      </ul>
    </div>
  </section>
</main>
</body>
</html>