<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      layout:fragment="content">
<head layout:fragment="config">
  <title>Search</title>
  <link rel="stylesheet" href="/css/search.css">
</head>
<body>
<main id="container_search">
  <section class="main_search">
    <div class="inner">
      <form id="sFrm" method="POST" onsubmit="return false;">
        <div>
          <div class="search-box">
            <input type="hidden" name="t" value="">
            <div class="select">
              <p>전체</p>
              <ul>
                <li class="" data-type="a"><a href="javascript:void(0)">전체</a></li>
                <li class="" data-type="t"><a href="javascript:void(0)">제목&amp;내용만</a></li>
                <li class="" data-type="m"><a href="javascript:void(0)">재료만</a></li>
                <li class="" data-type="h"><a href="javascript:void(0)">해시태그만</a></li>
              </ul>
            </div>
            <div class="search">
              <input type="text" name="q" value="" placeholder="어떤 요리가 궁금하신가요?">
              <button id="btnSearch" type="button">검색</button>
            </div>
          </div>
        </div>
      </form>
      <div class="keyword">
        <p>추천검색어</p>
        <div class="key_list">
          <a href="#">스테이크</a>
          <a href="#">삶은 달걀</a>
          <a href="#">재료보관</a>
          <a href="#">무</a>
          <a href="#">요리칼럼</a>
        </div>
      </div>
      <div class="result">
        <p>어떤 요리가 궁금하신가요?</p>
        <em>요리명, 재료명으로 검색해 보세요</em>
      </div>
    </div>
  </section>
  <section class="sr_guide">
    <div class="inner">
      <div class="tit">
        <h3>최근 이런 콘텐츠가 올라왔어요!</h3>
      </div>
      <div class="guide_wrap">
        <ul>
          <li>
            <a href="/guide/guide_archive">
              <ul class="thumb">
                <li><img src="/images/mainpage2.jpg" alt="이미지"></li>
                <li><img src="/images/mainpage2.jpg" alt="이미지"></li>
                <li>
                  <img src="/images/mainpage2.jpg" alt="이미지">
                  <p class="more_detail">자세히 보기</p>
                </li>
              </ul>
              <div class="scrap">스크랩</div>
              <div class="picture">
                <img src="/images/mainpage2.jpg" alt="이미지">
                <p class="guide_text">
                  냉장고를 열었더니
                  <br>
                  남은 '무'가 있다.
                  <span class="num">8</span>
                </p>
                <div class="guide_tip">
                  커다란 '무' 하나 사면,
                  <br>
                  다 먹지 못하고 버리게 되는 분, 손!
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <ul class="thumb">
                <li><img src="/images/mainpage2.jpg" alt="이미지"></li>
                <li><img src="/images/mainpage2.jpg" alt="이미지"></li>
                <li>
                  <img src="/images/mainpage2.jpg" alt="이미지">
                  <p class="more_detail">자세히 보기</p>
                </li>
              </ul>
              <div class="scrap">스크랩</div>
              <div class="picture">
                <img src="/images/mainpage2.jpg" alt="이미지">
                <p class="guide_text">
                  냉장고를 열었더니
                  <br>
                  남은 '무'가 있다.
                  <span class="num">8</span>
                </p>
                <div class="guide_tip">
                  커다란 '무' 하나 사면,
                  <br>
                  다 먹지 못하고 버리게 되는 분, 손!
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <ul class="thumb">
                <li><img src="/images/mainpage2.jpg" alt="이미지"></li>
                <li><img src="/images/mainpage2.jpg" alt="이미지"></li>
                <li>
                  <img src="/images/mainpage2.jpg" alt="이미지">
                  <p class="more_detail">자세히 보기</p>
                </li>
              </ul>
              <div class="scrap">스크랩</div>
              <div class="picture">
                <img src="/images/mainpage2.jpg" alt="이미지">
                <p class="guide_text">
                  냉장고를 열었더니
                  <br>
                  남은 '무'가 있다.
                  <span class="num">8</span>
                </p>
                <div class="guide_tip">
                  커다란 '무' 하나 사면,
                  <br>
                  다 먹지 못하고 버리게 되는 분, 손!
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="sr_recipe">
    <div class="inner">
      <div class="tag_wrap">
        <ul class="rep_area">
          <li class="rep_item" th:each="lab : ${list}">
            <a href="/recipeLab/archive_rep">
              <div class="img_wrap">
                <img th:src="${'/images/' + lab.poster}" th:alt="${lab.lab_name}">
<!--                <img src="/images/cook3.jpg" alt="">-->
              </div>
              <div class="txt_wrap">
                <h4 th:utext="${lab.lab_name_desc}"></h4>
<!--                <h4>새콤 무생채</h4>-->
                <p th:utext="${lab.desc_detail}"></p>
<!--                <p>남은 무가 있다면 새콤하게 무쳐봐요!</p>-->
              </div>
            </a>
            <ul class="time_wrap">
              <li>
                <span>준비시간</span>
                <span th:with="txt=${lab.preparation != null ? lab.preparation : '0'}" th:text="${txt + '분'}"></span>
              </li>
              <li>
                <span th:with="txt=${lab.cookingtime != null ? lab.cookingtime : '0'}" th:text="${txt + '분'}"></span>
              </li>
            </ul>
            <div class="scrap">스크랩</div>
          </li>
<!--          <li class="rep_item">-->
<!--            <a href="/recipeLab/archive_rep">-->
<!--              <div class="img_wrap">-->
<!--                <img src="/images/cook3.jpg" alt="">-->
<!--              </div>-->
<!--              <div class="txt_wrap">-->
<!--                <h4>새콤 무생채</h4>-->
<!--                <p>남은 무가 있다면 새콤하게 무쳐봐요!</p>-->
<!--              </div>-->
<!--            </a>-->
<!--            <ul class="time_wrap">-->
<!--              <li>-->
<!--                <span>준비시간</span> 25분-->
<!--              </li>-->
<!--              <li>-->
<!--                <span>조리시간</span> 5분-->
<!--              </li>-->
<!--            </ul>-->
<!--            <a href="#" class="scrap">스크랩</a>-->
<!--          </li>-->
<!--          <li class="rep_item">-->
<!--            <a href="/recipeLab/archive_rep">-->
<!--              <div class="img_wrap">-->
<!--                <img src="/images/cook3.jpg" alt="">-->
<!--              </div>-->
<!--              <div class="txt_wrap">-->
<!--                <h4>새콤 무생채</h4>-->
<!--                <p>남은 무가 있다면 새콤하게 무쳐봐요!</p>-->
<!--              </div>-->
<!--            </a>-->
<!--            <ul class="time_wrap">-->
<!--              <li>-->
<!--                <span>준비시간</span> 25분-->
<!--              </li>-->
<!--              <li>-->
<!--                <span>조리시간</span> 5분-->
<!--              </li>-->
<!--            </ul>-->
<!--            <a href="#" class="scrap">스크랩</a>-->
<!--          </li>-->
<!--          <li class="rep_item">-->
<!--            <a href="/recipeLab/archive_rep">-->
<!--              <div class="img_wrap">-->
<!--                <img src="/images/cook3.jpg" alt="">-->
<!--              </div>-->
<!--              <div class="txt_wrap">-->
<!--                <h4>새콤 무생채</h4>-->
<!--                <p>남은 무가 있다면 새콤하게 무쳐봐요!</p>-->
<!--              </div>-->
<!--            </a>-->
<!--            <ul class="time_wrap">-->
<!--              <li>-->
<!--                <span>준비시간</span> 25분-->
<!--              </li>-->
<!--              <li>-->
<!--                <span>조리시간</span> 5분-->
<!--              </li>-->
<!--            </ul>-->
<!--            <a href="#" class="scrap">스크랩</a>-->
<!--          </li>-->
        </ul>
      </div>
    </div>
  </section>
  <section class="sr_sol">
    <div class="inner">
      <ul class="sol_area">
        <li class="sol_item">
          <a href="#">
            <div class="img_wrap">
              <img src="/images/sol1.jpg" alt="">
            </div>
            <div class="txt_wrap">
              <h4>식비를 줄이는 효과적인 절약팁</h4>
              <p>잘 사고 잘 먹는 식비 줄이는 법, 궁금하다면?</p>
            </div>
          </a>
          <ul class="hash_wrap">
            <li>
              살림
            </li>
            <li>
              재료구매
            </li>
          </ul>
          <a href="#" class="scrap">스크랩</a>
        </li>
        <li class="sol_item">
          <a href="#">
            <div class="img_wrap">
              <img src="/images/sol1.jpg" alt="">
            </div>
            <div class="txt_wrap">
              <h4>식비를 줄이는 효과적인 절약팁</h4>
              <p>잘 사고 잘 먹는 식비 줄이는 법, 궁금하다면?</p>
            </div>
          </a>
          <ul class="hash_wrap">
            <li>
              살림
            </li>
            <li>
              재료구매
            </li>
          </ul>
          <a href="#" class="scrap">스크랩</a>
        </li>
        <li class="sol_item">
          <a href="#">
            <div class="img_wrap">
              <img src="/images/sol1.jpg" alt="">
            </div>
            <div class="txt_wrap">
              <h4>식비를 줄이는 효과적인 절약팁</h4>
              <p>잘 사고 잘 먹는 식비 줄이는 법, 궁금하다면?</p>
            </div>
          </a>
          <ul class="hash_wrap">
            <li>
              살림
            </li>
            <li>
              재료구매
            </li>
          </ul>
          <a href="#" class="scrap">스크랩</a>
        </li>
        <li class="sol_item">
          <a href="#">
            <div class="img_wrap">
              <img src="/images/sol1.jpg" alt="">
            </div>
            <div class="txt_wrap">
              <h4>식비를 줄이는 효과적인 절약팁</h4>
              <p>잘 사고 잘 먹는 식비 줄이는 법, 궁금하다면?</p>
            </div>
          </a>
          <ul class="hash_wrap">
            <li>
              살림
            </li>
            <li>
              재료구매
            </li>
          </ul>
          <a href="#" class="scrap">스크랩</a>
        </li>
      </ul>
    </div>
  </section>
</main>
</body>
</html>