<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}"
      layout:fragment="content">
<head layout:fragment="config">
  <title>Search</title>
  <link rel="stylesheet" href="/css/search.css">
</head>
<body>
<main id="container_search">
  <section class="main_search">
    <div class="inner">
      <form id="sFrm" method="POST" onsubmit="return false;">
        <div>
          <div class="search-box">
            <input type="hidden" name="t" value="">
            <div class="select">
              <p>전체</p>
              <ul>
                <li class="" data-type="a"><a href="javascript:void(0)">전체</a></li>
                <li class="" data-type="t"><a href="javascript:void(0)">제목&amp;내용만</a></li>
                <li class="" data-type="m"><a href="javascript:void(0)">재료만</a></li>
                <li class="" data-type="h"><a href="javascript:void(0)">해시태그만</a></li>
              </ul>
            </div>
            <div class="search">
              <input type="text" name="q" value="" placeholder="어떤 요리가 궁금하신가요?">
              <button id="btnSearch" type="button">검색</button>
            </div>
          </div>
        </div>
      </form>
      <div class="keyword">
        <p>추천검색어</p>
        <div class="key_list">
          <a href="#">스테이크</a>
          <a href="#">삶은 달걀</a>
          <a href="#">재료보관</a>
          <a href="#">무</a>
          <a href="#">요리칼럼</a>
        </div>
      </div>
      <div class="result">
        <p>어떤 요리가 궁금하신가요?</p>
        <em>요리명, 재료명으로 검색해 보세요</em>
      </div>
      <div class="tit">
        <h3>최근 이런 콘텐츠가 올라왔어요!</h3>
      </div>
      <div class="guide_wrap">
        <ul>
          <li>
            <a href="/guide/guide_archive">
              <ul class="thumb">
                <li><img src="/images/mainpage2.jpg" alt="이미지"></li>
                <li><img src="/images/mainpage2.jpg" alt="이미지"></li>
                <li>
                  <img src="/images/mainpage2.jpg" alt="이미지">
                  <p class="more_detail">자세히 보기</p>
                </li>
              </ul>
              <div class="scrap">스크랩</div>
              <div class="picture">
                <img src="/images/mainpage2.jpg" alt="이미지">
                <p class="guide_text">
                  냉장고를 열었더니
                  <br>
                  남은 '무'가 있다.
                  <span class="num">8</span>
                </p>
                <div class="guide_tip">
                  커다란 '무' 하나 사면,
                  <br>
                  다 먹지 못하고 버리게 되는 분, 손!
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <ul class="thumb">
                <li><img src="/images/mainpage2.jpg" alt="이미지"></li>
                <li><img src="/images/mainpage2.jpg" alt="이미지"></li>
                <li>
                  <img src="/images/mainpage2.jpg" alt="이미지">
                  <p class="more_detail">자세히 보기</p>
                </li>
              </ul>
              <div class="scrap">스크랩</div>
              <div class="picture">
                <img src="/images/mainpage2.jpg" alt="이미지">
                <p class="guide_text">
                  냉장고를 열었더니
                  <br>
                  남은 '무'가 있다.
                  <span class="num">8</span>
                </p>
                <div class="guide_tip">
                  커다란 '무' 하나 사면,
                  <br>
                  다 먹지 못하고 버리게 되는 분, 손!
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <ul class="thumb">
                <li><img src="/images/mainpage2.jpg" alt="이미지"></li>
                <li><img src="/images/mainpage2.jpg" alt="이미지"></li>
                <li>
                  <img src="/images/mainpage2.jpg" alt="이미지">
                  <p class="more_detail">자세히 보기</p>
                </li>
              </ul>
              <div class="scrap">스크랩</div>
              <div class="picture">
                <img src="/images/mainpage2.jpg" alt="이미지">
                <p class="guide_text">
                  냉장고를 열었더니
                  <br>
                  남은 '무'가 있다.
                  <span class="num">8</span>
                </p>
                <div class="guide_tip">
                  커다란 '무' 하나 사면,
                  <br>
                  다 먹지 못하고 버리게 되는 분, 손!
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</main>
</body>
</html>