@import 'memberCommon.css';

.btn {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  border: 0;
  border-radius: 8px;
  background-color: #424242;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  line-height: 1.6;
  letter-spacing: 0;
  vertical-align: middle;
  transition: all 0.2s ease-out;
  white-space: nowrap;
}

.hr-block {
  margin-top: 24px;
}

.hr-block-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  color: #737373;
  font-size: 14px;
  white-space: nowrap;
  margin-left: 2px;
  margin-right: 2px;
}

.hr-block-title::before,
.hr-block-title::after {
  content: '';
  display: block;
  width: 40%;
  height: 1px;
  border-bottom: 1px solid #ccc;
}

.hr-block-title::before {
  margin-right: 20px;
}

.hr-block-title::after {
  margin-left: 20px;
}

.hr-block-title + .btn {
  margin-top: 2rem;
}

.hr-block-title {
  margin-top: 20px;
}

.btn-kakao-talk {
  background-color: #fee500;
  color: #424242;
}

.btn-kakao-talk::before {
  background-image: url(/images/kakao-talk.svg);
}

.btn-naver {
  color: #fff;
  background-color: #03c75a;
  margin-top: 10px;
}

.btn-naver::before {
  background-image: url(/images/naver.svg);
}

.btn-kakao-talk::before,
.btn-naver::before {
  content: '';
  font-size: 12px;
  width: 2em;
  height: 2em;
  margin-right: 0.75em;
  background-repeat: no-repeat;
  background-size: 100%;
}
